* {
  font-family: "Noto Sans TC", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.nav {
  height: 80px;
  display: block;
}

.closebtn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 15px;
  top: 15px;
}

.closebtn > img {
  height: 35px;
  width: 35px;
}

.end-photo {
  justify-content: center;
}

.end-photo img {
  width: 65%;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fbf4e2;
  overflow-x: hidden; /*移除水平卷軸*/
  transition: 0.5s;
  text-align: center;
}

.overlay-content {
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 0;
}

.overlay-content > a,
.dropdown-btn {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bolder;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

/*下拉式選單一開始保持閉合*/
.dropdown-content {
  display: none;
}

.dropdown-content a {
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.3s;
}

.overlay-content > a:hover,
.dropdown-btn:hover,
.dropdown-content > a:hover {
  background-color: #e0912f;
}

.active {
  background-color: #e0902fbe;
}

.dropdown-btn {
  font-size: 36px;
}

.dropdown-btn img {
  height: 20px;
}

/* header */
.header {
  text-align: center;
  position: sticky;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #fbf4e2;
  padding: 20px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-duration: 2s;
}

.logo img {
  height: 50px;
}

.header-icons img {
  height: 30px;
}

.icon :hover {
  height: 35px;
}

.header-icons a {
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.breadcrumb {
  height: 40px;
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* 中間區塊 */
.mid {
  display: flex;
  flex: 1;
}
/* 菜單 */
.list {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.list a,
.down-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.down-btn:hover {
  color: rgb(0, 0, 0);
}

.down-btn > img {
  width: 20px;
}

.active2 {
  background-color: rgb(222, 202, 21);
  color: rgb(0, 0, 0);
}

.down-container {
  display: none;
  padding-left: 8px;
}

/* 商品區 */
.pzone {
  flex: 4;
  padding: 20px;
}

#pcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
  width: calc(25% - 10px);
  border-radius: 5%;
  text-align: center;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2%;
}

.product-price {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.button {
  width: 80%;
  margin: 5px 0;
  padding: 8px;
  background-color: #e0912f;
  color: white;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #d57d10;
}

.button.favorite {
  background-color: #d14545;
}

.button.favorite:hover {
  background-color: #cb2828;
}

.sort {
  text-align: right;
  margin-bottom: 20px;
}

/* footer */
.footer {
  height: 250px;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  background-color: #fbf4e2;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-content div {
  padding: 20px 30px;
  text-align: left;
  min-width: 200px;
  box-sizing: border-box;
  text-align: left;
}

.footer-content div span {
  /* media icon */
  float: left;
  text-align: left;
  padding-top: 10px;
}

.footer-content h3 {
  margin-bottom: 10px;
  color: black;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  margin-bottom: 5px;
  color: black;
}

.contact-info p,
.registration-info p {
  color: black;
  margin-bottom: 5px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  height: 30px;
  width: 30px;
}

/*響應式*/
@media ((min-width: 400px) and (max-width: 1100px)) {
  .footer-content {
    justify-content: center;
    flex-direction: column;
  }

  .sidenav {
    padding-top: 15px;
  }

  .overlay-content > a,
  .dropdown-btn {
    font-size: 20px;
  }

  .dropdown-btn img {
    height: 16px;
  }

  .dropdown-content {
    font-size: 16px;
  }
}
