html, body {
  height: 100%; /* 確保 html 和 body 佔滿全頁面 */
  margin: 0; /* 去掉預設的 margin */
}

/*header footer*/
* {
  font-family: "Noto Sans TC", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.tem-nav {
  height: 80px;
  display: block;
}

.tem-closebtn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 15px;
  top: 15px;
}

.tem-closebtn > img {
  height: 35px;
  width: 35px;
}

.tem-end-photo {
  display: flex;
  justify-content: center;
}

.tem-end-photo img {
  width: 65%;
  
}

.tem-overlay {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff6d0;
  backdrop-filter: blur(10px);
  overflow-x: hidden; /*移除水平卷軸*/
  transition: 0.5s;
  text-align: center;
}

.tem-overlay-content {
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 0;
}

.tem-overlay-content > a,
.tem-dropdown-btn {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bolder;
}



.tem-sidenav a,
.tem-dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.tem-dropdown-content {
  display: none; /*讓下拉選單一開始保持閉合*/
}

.tem-dropdown-content a {
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.3s;
  font-weight: 700;
}

.tem-overlay-content > a:hover,
.tem-dropdown-btn:hover,
.tem-dropdown-content > a:hover {
  background-color: #e0912f;
}

.tem-active {
  background-color: #e0902fbe;
}

.tem-dropdown-btn {
  font-size: 36px;
}

.tem-dropdown-btn img {
  height: 25px;
}

/* header */
.tem-header {
  text-align: center;
  position: sticky;
}

.tem-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("./material/Vorderrhein3.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: 1500px 3197px;
  padding: 20px;
}

.tem-menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.tem-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-duration: 2s;
}

.tem-logo img {
  height: 50px;
}

.tem-header-icons img {
  height: 30px;
}

.tem-icon :hover {
  height: 35px;
}

.tem-header-icons a {
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.tem-breadcrumb {
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
}

.tem-breadcrumb a {
  color: black;
  text-decoration: none;
}

.tem-breadcrumb a:hover {
  text-decoration: underline;
}

/* footer */
.tem-footer {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
  ),
  url("./material/Vorderrhein3.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: 1940px 774px;
  padding: 20px;
  text-align: center;
  position: relative; /* 確保 footer 在正常流中 */
  bottom: 0; /* 確保 footer 在頁面底部 */
}

.tem-footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* 讓 footer 內容在小螢幕上換行 */
}

.tem-footer-content div {
  padding: 20px 30px;
  text-align: left;
  min-width: 200px;
  box-sizing: border-box;
  text-align: left;
}

.tem-footer-content div span {
  /* 社群icon */
  float: left;
  text-align: left;
  padding-top: 10px;
}

.tem-footer-content h2 {
  margin-bottom: 10px;
  color: black;
}

.tem-footer-content ul {
  list-style: none;
}

.tem-footer-content ul li {
  margin-bottom: 5px;
  color: black;
  font-weight: 700;
}

.tem-contact-info p,
.tem-registration-info p {
  color: black;
  margin-bottom: 5px;
  font-weight: 700;
}

.tem-social-media {
  display: flex;
  justify-content: center;
}

.tem-social-media a {
  margin: 0 10px;
}

.tem-social-media img {
  height: 30px;
  width: 30px;
}

/*響應式*/
@media ((min-width: 400px) and (max-width: 1100px)) {
  .tem-footer-content {
    justify-content: center;
    flex-direction: column;
  }

  .tem-sidenav {
    padding-top: 15px;
  }

  .tem-overlay-content > a,
  .tem-dropdown-btn {
    font-size: 20px;
  }

  .tem-dropdown-btn img {
    height: 16px;
  }

  .tem-dropdown-content {
    font-size: 16px;
  }
}

/*↑header footer*/


body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 50vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



.foodName {
  /*料理名稱*/
  font-size: 46px;
  color: #333;
  margin-top: 0; /*與線上食譜的距離*/
  margin-bottom: 20px;
}

.main {
  /*照片至按鈕區域*/
  display: flex;
  justify-content: center;
  flex-direction: column; /* 垂直排列 */
  align-items: center; /* 垂直置中 */
}

  
.recipeTitle {
  /*說明的小標*/
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
}

.recipeDetails {
  /*說明的內文*/
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left; /*水平居左*/
  font-weight: bold;
}

.image {
  /*料理圖片*/
  width: 100%;
  /* 圖片寬度設置為容器的 100% */
  max-width: 100%;
  /* 圖片與父容器的寬度相同 */
  height: auto;
  /* 保持圖片的長寬比 */
  margin-bottom: 15px;
  border-radius: 25px;
  /* 圓角效果 */
}

.topTag {
  /*線上食譜*/
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  background-color: #e0912f;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.btns {
  /* 按鈕容器 */
  display: flex;
  justify-content: space-between; /* 在容器內部均勻分配按鈕之間的空間 */
  width: 100%; /* 容器的寬度設為 100%，即填滿父容器的寬度 */
}

.btnRed {
  display: inline-block;
  width: 50%; /* 佔用 50% 寬度 */
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 25px; /* 圓角效果 */
  text-decoration: none; /*去除底線*/
  font-size: large;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #d35b50; /* 紅色背景 */
}

.btnRed:hover {
  /*鼠標經過的過渡效果-浮動、變色*/
  background-color:  #ca2a1c;
  transform: scale(1.05);
}

.btnYellow {
  display: inline-block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #f3ce6e;
}

.btnYellow:hover {
  background-color: #f39c12;
  transform: scale(1.05);
}
