body {
  font-family: Arial, sans-serif;
  margin: 20px;
  position: relative;
}
.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.back-button {
  font-size: 16px;
  font-weight: bolder;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
thead th {
  border-bottom: 2px solid #ddd;
  text-align: center;
}
tbody td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
tbody tr:last-child td {
  border-bottom: none;
}
td {
  padding: 10px;
  text-align: center;
}
.total {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin-top: 20px;
  border-top: 2px solid #ddd;
  padding-top: 10px;
}
.product-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
}
.coupon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.coupon-container input {
  width: 200px;
  padding: 10px;
}
.button {
  background-color: #857d7b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: auto;
}
.button:hover {
  background-color: #564a4d;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity button {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}
.quantity span {
  margin: 0 10px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.submit-button {
  background-color: #ff5733;
  border-radius: 8px;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  width: 290px;
  margin-top: 25px;
}
.submit-button:hover {
  background-color: #c70039;
}
td button {
  background-color: transparent;
  border: none;
  color: #ff5733;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  text-align: center;
}
