/* * {
  font-family: "Noto Sans TC", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
} */

.tem-nav {
  height: 80px;
  display: block;
}

.tem-closebtn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 15px;
  top: 15px;
}

.tem-closebtn > img {
  height: 35px;
  width: 35px;
}

.tem-end-photo {
  justify-content: center;
}

.tem-end-photo img {
  width: 65%;
}

.tem-overlay {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff6d0;
  backdrop-filter: blur(10px);
  overflow-x: hidden; /*移除水平卷軸*/
  transition: 0.5s;
  text-align: center;
}

.tem-overlay-content {
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 0;
}

.tem-overlay-content > a,
.tem-dropdown-btn {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bolder;
}

.tem-sidenav a,
.tem-dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.tem-dropdown-content {
  display: none; /*讓下拉選單一開始保持閉合*/
}

.tem-dropdown-content a {
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.3s;
  font-weight: 700;
}

.tem-overlay-content > a:hover,
.tem-dropdown-btn:hover,
.tem-dropdown-content > a:hover {
  background-color: #e0912f;
}

.tem-active {
  background-color: #e0902fbe;
}

.tem-dropdown-btn {
  font-size: 36px;
}

.tem-dropdown-btn img {
  height: 25px;
}

/* header */
.tem-header {
  text-align: center;
  position: sticky;
  width: 100%;
}

.tem-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  height: 80px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("./material/Vorderrhein3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.tem-menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.tem-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-duration: 2s;
}

.tem-logo img {
  height: 50px;
}

.tem-header-icons img {
  height: 30px;
}

.tem-icon :hover {
  height: 35px;
}

.tem-header-icons a {
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.tem-breadcrumb {
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
}

.tem-breadcrumb a {
  color: black;
  text-decoration: none;
}

.tem-breadcrumb a:hover {
  text-decoration: underline;
}

/* footer */
.tem-footer {
  width: 100%;
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./material/Vorderrhein3.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: 1940px 774px;
}

.tem-footer-content {
  display: flex;
  justify-content: space-around;
}

.tem-footer-content div {
  padding: 20px 30px;
  text-align: left;
  min-width: 200px;
  box-sizing: border-box;
  text-align: left;
}
.tem-footer-content div span {
  /* 社群icon */
  float: left;
  text-align: left;
  padding-top: 10px;
}

.tem-footer-content h2 {
  margin-bottom: 10px;
  color: black;
}

.tem-footer-content ul {
  list-style: none;
}

.tem-footer-content ul li {
  margin-bottom: 5px;
  color: black;
  font-weight: 700;
}

.tem-contact-info p,
.tem-registration-info p {
  color: black;
  margin-bottom: 5px;
  font-weight: 700;
}

.tem-social-media {
  display: flex;
  justify-content: center;
}

.tem-social-media a {
  margin: 0 10px;
}

.tem-social-media img {
  height: 30px;
  width: 30px;
}

/*響應式*/
@media ((min-width: 400px) and (max-width: 1100px)) {
  .tem-footer-content {
    justify-content: center;
    flex-direction: column;
  }

  .tem-sidenav {
    padding-top: 15px;
  }

  .tem-overlay-content > a,
  .tem-dropdown-btn {
    font-size: 20px;
  }

  .tem-dropdown-btn img {
    height: 16px;
  }

  .tem-dropdown-content {
    font-size: 16px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 防止水平滾動條 */
}

/*以下為主畫面*/

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}

/*返回購物按鈕*/
.gobackButton {
  font-size: 16px;
  font-weight: bolder;
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse; /*邊框合併*/
}
thead th {
  border-bottom: 2px solid #ddd;
}
tbody td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
tbody tr:last-child td {
  border-bottom: none;
}
td {
  padding: 10px;
  text-align: center; /* 確保所有 td 的內容都是水平置中 */
}
th {
  font-weight: bolder;
  font-size: large;
}

.total {
  /*商品總額*/
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  border-top: 2px solid #ddd;
  padding-top: 30px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.coupon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /*序號框跟按鈕的距離*/
}
.coupon-container input {
  width: 100px;
  padding: 10px;
}
.useCouponBtn {
  background-color: #857d7b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: auto;
}
.useCouponBtn:hover {
  background-color: #564a4d;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平置中 */
}
.quantity button {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}
.quantity span {
  margin: 0 10px;
}
/* 提交訂單 */
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.submitButton {
  background-color: #d35b50;
  font-size: medium;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  width: 240px;
  font-weight: bold;
  margin: 30px 0 100px 0;
}
.submitButton:hover {
  background-color: #ca2a1c;
}

/*刪除按鈕*/
td button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.fa-trash:hover {
  color: #d35b50;
}
/* 響應式設置 */
@media (max-width: 800px) {
  .container {
    width: 80vw; /* 在小螢幕上稍微增加寬度 */
  }
}