/* 商品詳情 */
.info {
  display: flex;
  flex: 1;
  margin: 4vw 5vw;
}

.spec {
  flex-direction: column;
  flex: 1 1 50%;
  padding: 0 20px;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  /* background-color: #d1de74; */
}

.main-image {
  width: 600px;
  height: 600px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
}

.thumbnail {
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 5px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail:hover {
  border: 2px solid #3c4f6d;
}

.ship > h3 {
  margin: 10px 0;
  padding: 3px;
  background-color: #ece2b3;
  border-radius: 5px;
  display: inline-block;
}

.description,
.caption,
.related-product,
.tab {
  margin: 2vw 5vw;
}

.description
.caption{
  border-bottom: #d1de74 1px solid;
}

label{
  font-size: 30px;
  font-weight: 700;
  margin: 5px 0;
}

.quantity-input {
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: larger;
}

#decrease,
#increase {
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: larger;
  color: #a1c14b;
}

input,
#decrease,
#increase {
  border: 3px solid #d1de74;
  background-color: white;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #e0912f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.cart:hover,
.cart:active{
  background-color: #fb8c00;
}

.like {
  background-color: #F3CE6E;
}

.like:hover,
.like:active{
  background-color: #fdcf37;
}

.container {
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
}

h1 {
  /* 商品名稱 */
  margin: 20px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex: 1 1 80%;
}

.product {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin: 15px 10px;
  width: 300px;
  flex: 0 0 20%;
  border-radius: 15px 15px 0 0;
  text-align: center;
  cursor: pointer;
}

.product-name {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;
}

.product-price {
  font-size: 40px;
  color: #d35b50;
  font-weight: 700;
  margin: 5px 0;
}

.related-product-name {
  font-size: medium;
  margin: 10px 0;
}

.related-product-image {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.related-product-price {
  font-size: 25px;
  color: #d35b50;
  font-weight: 700;
  margin: 10px 0;
}

.home-product-btn { /*按鈕的家*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-to-cart,.add-to-favorite{
  flex: 1 1 50%;
  height: 60px;
}

.add-to-cart {
  background-color: #e0912f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart .fa-cart-shopping{
  color: #ffffff;
}

.add-to-favorite {
  background-color: #fad04f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-favorite .fa-heart{
  color: #bbbbbb;
}

.nav-button {
  position: relative;
  top: 0;
  margin: 0 10px;
  background: #f3ce6e;
  border: none;
  border-radius: 15%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* 購物須知 */
.tab {
  overflow: hidden;
  text-align: center;
}

.tab button {
  background-color: #D1DE74;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: 700;
  width: 40%;
  margin-bottom: 10px;
}

.tab button.hover {
  background-color: #A1C14B;
}
.tab button.active {
  background-color: #A1C14B;
}

.tabcontent {
  padding: 30px 12px;
  border-bottom: 1px solid #D1DE74;
}

.tablinks {
  border-radius: 15px;
  margin: 0 10px;
}

.caption > h3 {
  display: inline-flex;
  padding: 5px;
  background-color: #ece2b3;
  margin-bottom: 5px;
  border-radius: 5px;
}

i.active {
  color: red !important;
}

.btn,
.tablinks{
  box-shadow: 0 9px #999;
  border-radius: 15px;
}

.btn:active,
.tablinks:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (min-width: 1600px) and (max-width: 3840px) {
  .product{
    width: 400px;
  }

  .related-product-image{
    height: 40vh;
	margin-bottom:20px;
  }
  
  .related-product-name{
	font-weight:500;
    margin:20px 0;
	font-size:20px
  }
  
  .related-product-price{
	font-size:30px;
	margin:20px 0;
  }

  #productName{
    font-size: 25px;
  }

}