* {
  font-family: "Noto Sans TC", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}


/* 輪播圖片 */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}


/* 生鮮食材包專區 */
.container {
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  width: 330px;
  flex: 0 0 20%;
  border-radius: 15px 15px 0 0;
  text-align: center;
  cursor: pointer;
}

.product-name {
  font-size: medium;
  margin: 10px 0;
}

.product-image {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.product-price {
  font-size: 25px;
  color: #d35b50;
  font-weight: 700;
  margin: 10px 0;
}

.home-product-btn { /*按鈕的家*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-to-cart,.add-to-favorite{
  flex: 1 1 50%;
  height: 60px;
}

.add-to-cart {
  background-color: #e0912f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart .fa-cart-shopping{
  color: #ffffff;
}

.add-to-favorite {
  background-color: #fad04f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-favorite .fa-heart{
  color: #bbbbbb;
}


.nav-button {
  position: relative;
  top: 0;
  margin: 0 20px;
  background: #f3ce6e;
  border: none;
  border-radius: 15%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.nav-button:hover {
  background-color: #ffc940;
}

.view-all {
  display: block;
  width: 250px;
  margin: 50px auto;
  background: #f3ce6e;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.view-all:hover,
.view-all:active {
  background-color: #ffc940;
}

.bt,
.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt {
  padding: 5vh 0;
  font-weight: bold;
}

.bt > p {
  font-size: 3.5vw;
}

/* 產品特色 */
.feature-section2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title-row {
  margin-bottom: 3rem;
}

.title-row h1,
.title-row p {
  text-align: center;
}

.product-row {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 3rem;
}

.product-column {
  flex: 4;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.img-container > img {
  width: 90%;
}

.content {
  display: flex;
  align-items: center; /* 讓內容垂直置中對齊 */
  margin: 1rem;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.icon-container {
  font-size: 5rem;
  margin-right: 1rem; /* 調整icon和文字之間的距離 */
}

.fa-regular {
  color: #e0912f;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text > p {
  font-size: 1.3rem;
  margin: 5px 0;
}

.text > h2 {
  font-size: 1.7rem;
  margin: 0;
}


.view-all{
  box-shadow: 0 9px #999;
  border-radius: 15px;
}

.view-all:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Animation styles */
.fadeIn {
  animation: fadeIn 5s ease-in-out;
}

.animated.pulse {
  animation: pulse 3s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 1600px) and (max-width: 3840px) {
	.product{
	   width: 400px;
	 }

	 .product-image{
	   height: 40vh;
	   margin-bottom:40px;
	 }

	 #productName{
	   margin:25px 0;
	 }
	 
	 .product-name{
		font-size: 20px;
	 }
	 
	 .product-price{
		margin:25px 0;
	 }


}

i.active {
  color: red !important;
}