* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
          circle,
          rgba(243, 206, 110, 1) 0%,
          rgba(219, 121, 88, 1) 85%,
          rgba(211, 91, 80, 1) 100%
  );
}

main>div{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 15px solid #ffffff;
  position: relative;
  overflow: hidden;
  transition: transform 3s ease-out;
}

.container div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: #000000;
  left: 135px;
}

.container .one {
  background-color: #d35b50;
  transform: rotate(22.5deg);
}

.container .two {
  background-color: #f3ce6e;
  transform: rotate(67.5deg);
}

.container .three {
  background-color: #d35b50;
  transform: rotate(112.5deg);
}

.container .four {
  background-color: #f3ce6e;
  transform: rotate(157.5deg);
}

.container .five {
  background-color: #d35b50;
  transform: rotate(202.5deg);
}

.container .six {
  background-color: #f3ce6e;
  transform: rotate(247.5deg);
}

.container .seven {
  background-color: #d35b50;
  transform: rotate(292.5deg);
}

.container .eight {
  background-color: #f3ce6e;
  transform: rotate(337.5deg);
}

.arrow {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  color: #a1c14b;
  z-index: 10;
  font-size: 70px;
}

.arrow::before {
  content: "\1F817";
  font-size: 80px;
}

#spin {
  position: absolute; /* 將按鈕置於旋轉盤的中央 */
  top: 54%; /* 垂直 */
  left: 50%; /* 水平 */
  transform: translate(-50%, -50%); /* 使按鈕完美居中 */
  z-index: 10;
  background-color: #e0912f;
  border: 8px solid #fff;
  font-weight: bold;
  font-size: 20px;
  width: 75px;
  height: 75px;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}
