/* myCollection */

.collection-container {
  display: flex;
  justify-content: center; /* 水平居中 */
}

.collection-tabs {
    display: inline-flex;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto; 
}

.collection-tab-button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s ease;
}

.collection-tab-button.active {
    background-color: #e74c3c;
    color: white;
}

.collection-tab-button:not(.active) {
    color: #888;
}

.collection-tab-button:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.collection-tab-button:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.collection-content {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center; /* 水平居中 */
}



/* 商品區 */
.product-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5vw;
}

.product {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px 10px 15px 0;
  width: 250px;
  border-radius: 5%;
  text-align: center;
}

.product-image {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 2%;
}

.product-price {
  font-size: 20px;
  color: #d35b50;
  font-weight: 700;
}

.sort {
  text-align: right;
  margin-bottom: 20px;
}

.fa-heart {
  font-size: 25px;
  align-items: center;
  position: relative;
  left: 10px;
  
}

.add-to-cart {
  background-color: #e0912f;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 60%;
}

.home-product-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-to-favorite {
  margin-top: 10px;
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  border: none;
  background-color: transparent;
  color: #787575; /* 默認未收藏的顏色 */
  cursor: pointer;
}

.add-to-favorite.favorited{
  color: #cc4235; /* 收藏後的顏色 */
}

.add-to-cart:hover,
.add-to-cart:active {
  background-color: #de8415;
}



