
/* 中間區塊(商品分類側邊欄位和商品卡) */
.mid {
  display: flex;
  flex: 1;
}
/* 商品分類菜單(五大項) */
.list,
.list-title {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  font-weight: 600;
}

.list a,
.list-title,
.down-btn {
  padding: 6px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.down-btn {
  background-color: #cbb68c;
}

.list-title {
  background-color: #faf4e8;
}

.down-container > a:hover {
  background-color: #ece2b3;
}
.down-container > a:active {
  background-color: #ece2b3;
}

/* 商品區 */
.title{  /*商品分類類型標題*/
  font-size: 30px;
  /*background-color: #cc4235;*/
  padding: 12px 8px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.sortAndSearch {
  display: flex;
  justify-content: space-between;  /* 搜尋框和排序按鈕靠兩邊對齊 */
  align-items: center;  /* 垂直置中 */
  /*background-color: #3c4f6d;*/
  padding: 6px 0;
  font-size: 20px;
  margin-bottom: 20px;
  height: 50px;
}

.searchContainer {
  display: flex;  /* 確保搜尋輸入框和圖示在同一行 */
  align-items: center;  /* 垂直置中 */
}

#searchDiv {
  overflow: hidden;
  display: flex;  /* 確保搜尋框和搜尋按鈕垂直置中 */
  align-items: center; /* 確保搜尋框和搜尋按鈕垂直置中 */
}

#searchInput {
  height: 40px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
}

.sort {
  display: flex; /* 確保排序按鈕垂直置中 */
  align-items: center; /* 確保排序按鈕垂直置中 */
  /*background-color: #cc4235;*/
  height: 40px;
}

label,select{
  border: #bbbbbb 1px solid;
}

.searchIcon{
  cursor: pointer;
  margin-left: 10px;
}

.product-zone { /*商品標題+搜尋欄排序按鈕+商品卡*/
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 20px 40px;
}

#productContainer { /*所有商品卡*/
  /*background-color: #45a049;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
}

.product {
  width: 300px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.product:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.product-image {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-name,
.product-price{ /*home-product-btn是收藏按鈕和加入購物車按鈕*/
  margin: 10px 0;
  font-size: large;
}

.product-price {
  font-size: 30px;
  color: #d35b50;
  font-weight: 700;
}

.home-product-btn { /*按鈕的家*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-to-cart,
.add-to-favorite{
  flex: 1 1 50%;
  height: 60px;
}

.add-to-cart {
  background-color: #e0912f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart .fa-cart-shopping{
  color: #ffffff;
}

.add-to-favorite {
  background-color: #fad04f;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-favorite .fa-heart{
  color: #bbbbbb;
}

.pagination{
  text-align: center;
}

#prevPage,
#nextPage{
  border: none;
  background-color:#ece2b3 ;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: 20px 10px;
}

#prevPage:active,
#nextPage:active{
  background-color: #ae9e7d;
}

i.active {
  color: red !important;
}

#nextPage,
#prevPage{
  box-shadow: 0 9px #dfdfdf;
  border-radius: 15px;
}

#nextPage:active,
#prevPage:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (min-width: 1600px) and (max-width: 3840px) {
  .product{
    width: 400px;
  }

  .product-image{
    height: 40vh;
	margin-bottom:20px;
  }

  #productName{
	margin:5px 0;
  }

  .product-name{
  		font-size: 20px;
  	 }

  .product-price{
	margin:5px 0;
  }

}
