/*主畫面*/

.container {
  width: 50vw;
  max-width: 800px;
  margin: 0 auto; /*水平置中*/
}
.topTag {
  /*線上食譜*/
  display: inline-block;
  width: 120px;
  line-height: 35px;
  background-color: #e0912f;
  color: #fff;
  border-radius: 15px;
  margin: 10px;
}
/*料理名稱*/
.foodName {
  font-size: xxx-large;
  color: #000000;
}
/*料理圖片*/
.foodImage {
  width: 80%;
  margin-bottom: 15px;
  border-radius: 25px;
  /* 圓角效果 */
  margin: 0 auto; /* 自動水平居中 */
  display: block; /* 使圖片顯示為塊級元素 */
}

.recipe-container {
  display: flex;
  flex-direction: column; /* 垂直排列內容 */
  align-items: center; /* 確保內容水平居中 */
}
/*照片至按鈕區域*/
.main {
  display: flex;
  justify-content: center;
  flex-direction: column; /*垂直排列*/
  align-items: center; /*確保子元素在主軸上居中*/
}
/*說明的小標*/
.recipeTitle {
  font-size: 20px;
  margin: 15px 0 5px 0;
  text-align: left;
  margin-left: 8%;
}
/*說明的內文*/
.recipeDetails {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left; /*水平居左*/
  margin-left: 12%;
}
/* 按鈕容器 */
.btns {
  display: flex;
  justify-content: space-between; /* 在容器內部均勻分配按鈕之間的空間 */
  width: 79%; /* 容器的寬度設為 100%，即填滿父容器的寬度 */
  margin-top: 5px; /* 添加上邊距 */
}

.btnRed,
.btnYellow {
  display: inline-block;
  width: 48%; /*佔用 48% 寬度，留有間距*/
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin: 0;
  transition: background-color 0.3s, transform 0.3s;
}
.btnRed {
  background-color: #d35b50;
}

.btnYellow {
  background-color: #f3ce6e;
}
.btnRed:hover {
  /*鼠標經過的過渡效果-浮動、變色*/
  background-color: #ca2a1c;
  transform: scale(1.05);
}
.btnYellow:hover {
  background-color: #f39c12;
  transform: scale(1.05);
}

/* 響應式設置 */
@media (max-width: 800px) {
  .container {
    width: 95vw; /* 在小螢幕上稍微增加寬度 */
  }

  .recipeTitle {
    font-size: 18px; /* 調整標題字型大小 */
  }

  .recipeDetails {
    font-size: 14px; /* 調整內容字型大小 */
  }
}
