<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{/css/about.css}" />
  </head>
  <body>
   	<div th:replace="header"></div>

	<div id="myContainer">
    	<main>
      <div class="story">
        <div class="main-photo">
          <img th:src="@{../material/about.jpeg}" alt="關於我們" />
        </div>
        <div class="title">
          <h1>品牌故事</h1>
        </div>
        <div class="paragraph">
          <p>
            在現代快節奏的生活中，人們常常為了追求效率而忽略了對健康飲食的需求。忙碌的工作和緊湊的行程，讓人們難以花時間在食物的準備上，經常選擇方便卻不夠營養的選擇，甚至犧牲了與家人共享美好時光的機會。即食享熱的創辦人深刻體會到這些挑戰，於是創立了這個品牌，希望為每個人帶來一種全新的飲食體驗——「即食享熱」。
            <br /><br />
            「即食」象徵著我們對時間的尊重與對便利的追求，「享」與「熱」的元素巧妙的延伸出了「烹」，體現了我們對烹飪的熱愛與對美食的期待。這不僅僅是一個品牌名，更是一種生活哲學的表達。我們將這些理念融入每一份調理包和處理食材中，力求讓每一餐都充滿簡便的美味與健康。
            <br /><br />
            我們的調理包經過精心設計，選用優質的新鮮食材，讓您在最短的時間內享受溫暖的熱食，而不必繁瑣地備料。我們的目標是讓每一位顧客都能在忙碌的生活中找到簡單卻不失美味的飲食方式，感受到健康與幸福的雙重滋養。
            <br /><br />
            即食享熱，不僅僅是一個品牌，更是我們對生活的一種熱情表達。每一份產品背後都蘊藏著對美食的深情與對顧客的關懷。我們相信，即使在匆忙的時光中，美味與健康也應該是隨手可得的。即食享熱，讓每一餐都成為一場愉悅的美食旅程，讓健康和便利完美融合，讓每一刻的用餐時光都成為值得珍惜的美好瞬間。
          </p>
        </div>
      </div>
      <div class="duty">
        <div class="title">
          <h1>品牌使命</h1>
        </div>
        <div class="paragraph">
          <p>
            我們的使命是為忙碌的現代人提供雙重選擇：快速方便的即食調理包，以及精心準備的料理食材包。我們明白，時間寶貴，但這不應該妨礙您在家中享受烹飪的樂趣。無論您是烹飪新手還是經驗豐富的家庭主廚，我們的產品都能讓您輕鬆上手，優雅上菜。
            <br /><br />
            我們致力於讓每個人都能在廚房中展現自信與創意，無需為挑選食材或複雜的準備工作煩惱。只需按照我們簡單易懂的食譜步驟，您就能輕鬆完成一道美味的料理。即便是最繁忙的日子，我們也希望能幫助您找到那一份專屬於您的烹飪時光，讓您在品味美食的同時，與親朋好友共享溫馨的時刻。
          </p>
        </div>
      </div>
      <div>
        <div class="title">
          <h1>品牌堅持</h1>
        </div>
        <div class="container">
          <div class="content">
            <div class="step-image">
              <img th:src="@{../material/farmer.png}" alt="" />
            </div>
            <div>
              <h2>安心饗食</h2>
            </div>
            <div class="text">
              <p>
                與在地小農合作<br />
                從田地到餐桌<br />
                全程把關<br />
                保留食物原始風味<br />
                提供完整溯源資訊<br />
                將健康帶進每一道菜<br />
                讓您食在安心<br />
              </p>
            </div>
          </div>
          <div class="content">
            <div class="step-image">
              <img th:src="@{../material//ecosystem.png}" alt="" />
            </div>
            <div>
              <h2>永續循環</h2>
            </div>
            <div class="text">
              <p>
                使用環保包裝<br />
                低碳運輸<br />
                選用有機食材<br />
                推廣綠色飲食<br />
                減少碳足跡<br />
                與您一同守護地球<br />
                永續共生<br />
              </p>
            </div>
          </div>
          <div class="content">
            <div class="step-image">
              <img th:src="@{../material/healthyfood.png}" alt="" />
            </div>
            <div>
              <h2>健康守護</h2>
            </div>
            <div class="text">
              <p>
                專業營養師把關<br />
                營養均衡搭配<br />
                精準控制熱量<br />
                滿足多元飲食需求<br />
                用科學烹調<br />
                鎖住食材美味<br />
                守護您與家人的健康<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text">
        <p style="font-size: 24px">
          無論您是想快速解決一餐，還是精心準備一頓豐盛饗宴，這裡都有適合您的選擇
        </p>
      </div>
      <div>
        <button class="view-all">
          <a class="importPage" href="http://localhost:8080/productList">即刻展開您的味蕾探索之旅</a>
        </button>
      </div>
    </main>
    	
	</div>
    
    <div th:replace="footer"></div>
  </body>
</html>
