<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{css/checkout.css}" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<div th:replace="header"></div>
<!-- header end -->

<!-- content area start -->
<div id="myContainer">
    <div class="container">
        <!-- main-left -->
        <div class="left">
            <div class="header-row">
                <h2>配送資訊</h2>
                <div class="checkbox-container">
                    <input type="checkbox" id="same-info" name="same-info" />
                    <label for="same-info">收件人資訊與會員資訊相同</label>
                </div>
            </div>
            <form>
                <div class="form-row">
                    <input
                            type="text"
                            id="first-name"
                            name="first-name"
                            class="half-width"
                            placeholder="收件人名字"
                            v-model="name"
                    />
                    <input
                            type="text"
                            id="last-name"
                            name="last-name"
                            class="half-width"
                            placeholder="收件人姓氏"
                            v-model="lastName"
                    />
                </div>
                <div class="form-row">
                    <input
                            type="email"
                            id="email"
                            name="email"
                            class="full-width"
                            placeholder="電子信箱"
                            v-model="email"
                    />
                </div>
                <div class="form-row">
                    <input
                            type="tel"
                            id="phone"
                            name="phone"
                            class="full-width"
                            placeholder="聯絡電話"
                            v-model="phone"
                    />
                </div>
                <div class="form-row">
                    <select
                            id="city"
                            name="city"
                            class="half-width"
                            v-model="city"
                            @change="updateDistricts"
                    >
                        <option value="" disabled selected>選擇縣市</option>
                        <option
                                v-for="(districtObj, cityName) in districts"
                                :key="cityName"
                                :value="cityName"
                        >
                            {{ cityName }}
                        </option>
                    </select>

                    <select
                            id="district"
                            name="district"
                            class="half-width"
                            v-model="area"
                            @change="updateZipCode"
                    >
                        <option value="" disabled selected>選擇區域</option>
                        <option
                                v-for="district in selectedDistricts"
                                :key="district"
                                :value="district"
                        >
                            {{ district }}
                        </option>
                    </select>
                </div>
                <div class="form-row">
                    <input
                            type="text"
                            id="zipcode"
                            name="zipcode"
                            class="half-width"
                            placeholder="郵遞區號"
                            v-model="zipCode"
                    />
                </div>
                <div class="form-row">
                    <input
                            type="text"
                            id="address"
                            name="address"
                            class="full-width"
                            placeholder="地址"
                            v-model="address"
                    />
                </div>
                <h3>配送方式</h3>

                <div class="checkbox-container">
                    <input type="radio" id="delivery" name="delivery" />
                    <label for="delivery">冷凍-黑貓宅急便 </label>
                    <p>運費：NT$120</p>
                </div>

                <div style="margin-top: 15%">
                    <!-- 返回購物按鈕-->
                    <button
                            type="button"
                            class="gobackBtn"
                            onclick="window.location.href='/shoppingCart';"
                    >
                        &lt; 返回購物車
                    </button>

                    <!-- 下一步按鈕 -->
                    <button type="button" class="nextstepBtn" @click="toCheckInfo()">
                        下一步
                    </button>
                </div>
            </form>
        </div>

        <!-- main-right -->
        <div class="right">
            <div
                    id="checkout-container"
                    style="width: 80%; justify-items: center"
            >
                <h1>商品明細</h1>
                <table>
                    <tbody id="cartItems">
                    <tr v-for="(product, i) in products" :key="i">
                        <td class="dflex outTd">
                            <img :src="img" alt="圖片" class="product-image" />
                            <div class="dflex flexColumn">
                                <div>{{ product.name }}</div>
                                <div>數量:{{ product.quantity }}</div>
                            </div>
                            <div class="dflex subtotal">
                                NT ${{ product.price * product.quantity }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="items-container"></div>
                <div id="total-container" class="total">
                    <p id="subtotal">商品總額：NT $ {{totalAmount}}</p>
                    <p id="discount" style="color: #d35b50">
                        優惠券折抵：NT $ {{"還沒寫"}}
                    </p>
                    <p id="shipping">運費：NT $ {{120}}</p>
                    <p id="finalAmount">付款總金額：NT $ {{finalAmount}}</p>
                    <p id="total" style="font-size: large"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content area end -->

<!-- footer start -->
<div th:replace="footer"></div>
<!-- footer end -->


<script th:src="@{js/checkout.js}"></script>

<script type="module">
    const { createApp, ref, onMounted, computed } = Vue;
    createApp({
      setup() {
        //接收到的前一頁的參數
        const params = new URLSearchParams(window.location.search);
        const totalAmount = params.get("totalAmount");
        const finalAmount = params.get("finalAmount");

        //自定義名稱
        const name = ref("");
        const img = ref(
          "https://plus.unsplash.com/premium_photo-1661322640130-f6a1e2c36653?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGV8ZW58MHx8MHx8fDA%3D"
        );
        const lastName = ref("");
        const email = ref("");
        const phone = ref("");
        const city = ref("");
        const area = ref("");
        const postCode = 0;
        const address = ref("");
        const districts = ref({
          台北市: {
            中正區: "100",
            大同區: "103",
            中山區: "104",
            松山區: "105",
            大安區: "106",
            萬華區: "108",
            信義區: "110",
            士林區: "111",
            北投區: "112",
            內湖區: "114",
            南港區: "115",
            文山區: "116",
          },
          新北市: {
            三峽區: "237",
            三興區: "243",
            三重區: "241",
            林口區: "244",
            新店區: "231",
            新莊區: "242",
            板橋區: "220",
            淡水區: "251",
            汐止區: "207",
            土城區: "236",
            永和區: "234",
            中和區: "235",
            瑞芳區: "224",
          },
          桃園市: {
            桃園市: "330",
            中壢市: "320",
            平鎮市: "324",
            楊梅市: "326",
            龜山區: "333",
            八德區: "334",
            龍潭區: "325",
            大溪區: "335",
            觀音區: "328",
            新屋區: "327",
            芦竹區: "338",
          },
          台中市: {
            中區: "400",
            東區: "401",
            南區: "402",
            西區: "403",
            北區: "404",
            西屯區: "407",
            南屯區: "408",
            北屯區: "406",
            大里區: "412",
          },
          台南市: {
            中西區: "700",
            東區: "701",
            南區: "702",
            北區: "704",
            安平區: "708",
            安南區: "709",
            永康區: "710",
            歸仁區: "711",
            新化區: "712",
            玉井區: "713",
            官田區: "714",
            麻豆區: "715",
          },
          高雄市: {
            苓雅區: "802",
            鼓山區: "804",
            左營區: "813",
            鳳山區: "830",
            大寮區: "831",
            大樹區: "833",
            大社區: "815",
            小港區: "812",
            楠梓區: "811",
            三民區: "807",
            前鎮區: "806",
            旗津區: "805",
          },
          基隆市: {
            仁愛區: "200",
            信義區: "201",
            中正區: "202",
            安樂區: "204",
            七堵區: "205",
          },
          新竹市: {
            東區: "300",
            北區: "300",
            香山區: "304",
          },
          嘉義縣: {
            番路鄉: "602",
            梅山鄉: "603",
            竹崎鄉: "604",
            阿里山鄉: "605",
            中埔鄉: "606",
            大埔鄉: "607",
            水上鄉: "608",
            鹿草鄉: "611",
            太保市: "612",
            朴子市: "613",
            布袋鎮: "614",
          },
          嘉義市: {
            東區: "600",
            西區: "601",
          },
          苗栗縣: {
            苗栗市: "360",
            苑裡鎮: "362",
            公館鄉: "363",
            竹南鎮: "350",
            頭份市: "351",
          },
          新竹縣: {
            竹北市: "302",
            湖口鄉: "303",
            新豐鄉: "304",
            新埔鎮: "305",
          },
          屏東縣: {
            屏東市: "900",
            潮州鎮: "920",
            恆春鎮: "946",
            萬丹鄉: "910",
          },
          宜蘭縣: {
            宜蘭市: "260",
            羅東鎮: "265",
            冬山鄉: "266",
            蘇澳鎮: "270",
          },
          花蓮縣: {
            花蓮市: "970",
            吉安鄉: "971",
            壽豐鄉: "972",
            鳳林鎮: "973",
          },
          台東縣: {
            台東市: "950",
            成功鎮: "951",
            關山鎮: "952",
            卑南鄉: "953",
          },
          連江縣: {
            南竿鄉: "209",
            北竿鄉: "210",
          },
          澎湖縣: {
            馬公市: "880",
            西嶼鄉: "881",
            望安鄉: "882",
          },
          金門縣: {
            金門縣: "890",
          },
        });
        const api = ref("http://localhost:8080/api");
        const userId = ref(2); // 使用者 ID，這裡假設為 2
        const products = ref([]); // 用來儲存產品的數組
        const selectedDistricts = ref([]);
        const zipCode = ref("");
        const cityName = ref("");
        const totalAmount2 = computed(() => {
          return products.value.reduce(
            (total, product) => total + product.quantity * product.price,
            0
          );
        });

        //要傳遞出去的參數  缺少優惠券
        const toCheckInfo = () => {
          const totalAmount = totalAmount2.value;
          const finalAmount2 = totalAmount + 120;

          //name.value抓這頁的變數 :前的name2是傳出去的變數名稱
          const queryParams = new URLSearchParams({
            totalAmount,
            finalAmount2,
            name2: name.value, //收件人的名字
            lastName: lastName.value,
            email: email.value,
            city: city.value,
            area: area.value,
            zipCode: zipCode.value,
            address: address.value,
            phone: phone.value,
          }).toString();

          window.location.href = `/checkInfo?${queryParams}`;

        };

        // 定義獲取資料的函式
        const getCart = async () => {
          const res = await axios.get(`${api.value}/cart/${userId.value}`);
          products.value = res.data; // 將獲取的資料儲存到 products 中
          console.log(products.value);
        };

        onMounted(() => {
          getCart(); // 在組件掛載後獲取資料
        });

        // const updateDistricts = () => {
        //   districts.value = cityDistricts[city.value] || [];
        // };

        const updateDistricts = () => {
          selectedDistricts.value = Object.keys(
            districts.value[city.value] || {}
          );
          area.value = ""; // 重置區域選擇
          zipCode.value = ""; // 重置郵遞區號
        };

        const updateZipCode = () => {
          zipCode.value = districts.value[city.value]?.[area.value] || "";
        };

        return {
          products, // 將 products 暴露給模板
          name,
          img,
          totalAmount,
          finalAmount,
          lastName,
          email,
          phone,
          city,
          area,
          postCode,
          address,
          districts,
          updateDistricts,
          selectedDistricts,
          zipCode,
          updateZipCode,
          cityName,
          toCheckInfo,
        };
      },
    }).mount("#myContainer"); // 將應用程式掛載到指定的 DOM 元素上
</script>
</body>
</html>
