<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{css/checkInfo.css}"  />
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>

<div th:replace="header"></div>

<!-- content area start -->

<!-- main-left -->
<div class="container" id="myContainer">
    <div class="left">
        <div class="infoTable">
            <table>
                <tbody>
                <tr>
                    <td>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字：</td>
                    <td id="name">{{lastName2}} {{name5}}</td>
                </tr>
                <tr>
                    <td>電子信箱：</td>
                    <td id="email">{{email}}</td>
                </tr>
                <tr>
                    <td>聯絡電話：</td>
                    <td id="phone">{{phone}}</td>
                </tr>
                <tr>
                    <td>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
                    <td id="address">{{ zipCode+ city +
                        area + address}}</td>
                </tr>
                <tr>
                    <td>配送方式：</td>
                    <td>冷凍－黑貓宅急便</td>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>

        <div class="updateBtn">
            <!-- 修改資料按鈕 -->
<!--            <button-->
<!--                    type="button"-->
<!--                    class="goBack"-->
<!--                    onclick="window.location.href='/checkout';"-->
<!--            >-->
<!--                &lt;修改資料-->
<!--            </button>-->

            <button
                    type="button"
                    class="goBack"
                    onclick="window.history.back()"
            >
                &lt;修改資料
            </button>


            <!-- 確認付款按鈕 -->
            <button type="button" class="checkBtn"  @click="addToOrders()" id="checkBtn">
                確認付款
            </button>
        </div>
    </div>

    <!-- main-right -->
    <div class="right">
        <div id="checkout-container" style="width: 80%; justify-items: center">
            <h1>商品明細</h1>
            <table>
                <tbody id="cartItems">
                <tr v-for="(product, i) in products" :key="i">
                    <td class="dflex outTd">
                        <img :src="product.image" alt="圖片" class="product-image" />

                        <div class="dflex flexColumn">
                            <div>{{ product.name }}</div>

                            <div>數量:{{ product.quantity }}</div>
                        </div>

                        <div class="dflex subtotal">
                            NT ${{ product.price * product.quantity }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="items-container"></div>
            <div id="total-container" class="total" v-if="isGetCart">
                <p id="subtotal">商&nbsp;品&nbsp;&nbsp;總&nbsp;額：NT $ {{totalAmount}}</p>
                <p id="discount" style="color: #d35b50">
                    優惠券折抵：NT $ {{discountAmount != 0 ?　discountAmount :
                        percentageDiscount != 0 ? percentageDiscount : 0}}
                </p>
                <p id="shipping">運&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;費：NT $ {{160}}</p>
                <p id="finalAmount">付款總金額：NT $ {{finalAmount2}}</p>
                <p id="total" style="font-size: large"></p>
            </div>
        </div>
    </div>
</div>
<!-- content area end -->

<!-- footer start -->
<div th:replace="footer"></div>
<!-- footer end -->
<script th:src="@{js/checkInfo.js}"></script>
</body>
</html>
