<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{css/checkout.css}" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div th:replace="header"></div>
    <!-- header end -->

    <!-- content area start -->
      <div class="container" id="myContainer">
        <!-- main-left -->
        <div class="left">
          <div class="header-row">
            <h2>配送資訊</h2>
            <div class="checkbox-container">
              <input
                type="checkbox"
                id="same-info"
                name="same-info"
                v-model="isSameInfo"
                @change="isSameInfo ? populateUserInfo() : clearUserInfo()"              
              />
              <label for="same-info">收件人資訊與會員資訊相同</label>
            </div>
          </div>

          <form>
            <div class="form-row">
              <input
                type="text"
                id="first-name"
                name="first-name"
                class="half-width"
                placeholder="收件人名字"
                v-model="name"
                required
              />
              <input
                type="text"
                id="last-name"
                name="last-name"
                class="half-width"
                placeholder="收件人姓氏"
                v-model="lastName"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="email"
                id="email"
                name="email"
                class="full-width"
                placeholder="電子信箱"
                v-model="email"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="tel"
                id="phone"
                name="phone"
                class="full-width"
                placeholder="聯絡電話"
                v-model="phone"
                required
              />
            </div>
            <div class="form-row">
              <select
                id="city"
                name="city"
                class="half-width"
                v-model="city"
                @change="updateDistricts"
                required
              >
                <option value="" disabled selected>選擇縣市</option>
                <option
                  v-for="(districtObj, cityName) in districts"
                  :key="cityName"
                  :value="cityName"
                >
                  {{ cityName }}
                </option>
              </select>

              <select
                id="district"
                name="district"
                class="half-width"
                v-model="area"
                @change="updateZipCode"
                required
              >
                <option value="" disabled selected>選擇區域</option>
                <option
                  v-for="district in selectedDistricts"
                  :key="district"
                  :value="district"
                >
                  {{ district }}
                </option>
              </select>
            </div>
            <div class="form-row">
              <input
                type="text"
                id="zipcode"
                name="zipcode"
                class="half-width"
                placeholder="郵遞區號"
                v-model="zipCode"
                required
              />
            </div>
            <div class="form-row">
              <input
                type="text"
                id="address"
                name="address"
                class="full-width"
                placeholder="地址"
                v-model="address"
                required
              />
            </div>
            <h3>配送方式</h3>

            <div class="checkbox-container">
              <!--              <input type="radio" id="delivery" name="delivery" />-->
              <!--              <label for="delivery">冷凍-黑貓宅急便 </label>-->
              <p>冷凍-黑貓宅急便</p>
              <p>運費：NT$160</p>
            </div>

            <div style="margin-top: 15%">
              <!-- 返回購物按鈕-->
<!--              <button-->
<!--                type="button"-->
<!--                class="gobackBtn"-->
<!--                onclick="window.location.href='/shoppingCart';"-->
<!--              >-->
<!--                &lt; 返回購物車-->
<!--              </button>-->

              <button
                      type="button"
                      class="gobackBtn"
                      onclick="window.history.back();"
              >
                &lt; 返回購物車
              </button>

              <!-- 下一步按鈕 -->
              <button type="button" class="nextstepBtn" @click="toCheckInfo()">
                下一步
              </button>
            </div>
          </form>
        </div>

        <!-- main-right -->
        <div class="right">
          <div
            id="checkout-container"
            style="width: 80%; justify-items: center"
          >
            <h1>商品明細</h1>
            <table>
              <tbody id="cartItems">
                <tr v-for="(product, i) in products" :key="i">
                  <td class="dflex outTd">
                    <img
                      :src="product.image"
                      alt="圖片"
                      class="product-image"
                    />
                    <div class="dflex flexColumn">
                      <div>{{ product.name }}</div>
                      <div>數量:{{ product.quantity }}</div>
                    </div>
                    <div class="dflex subtotal">
                      NT ${{ product.price * product.quantity }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="items-container"></div>
            <div id="total-container" class="total">
              <p id="subtotal">商品總額：NT $ {{totalAmount2}}</p>
              <p id="discount" style="color: #d35b50">
                優惠券折抵：NT $ {{discountAmount != 0 ?　discountAmount :
                percentageDiscount != 0 ? percentageDiscount : 0}}
              </p>
              <p id="shipping">運費：NT $ {{160}}</p>
              <p id="finalAmount">
                付款總金額：NT $ {{finalAmount - 　discountAmount -
                percentageDiscount}}
              </p>
              <p id="total" style="font-size: large"></p>
            </div>
          </div>
        </div>
      </div>
    <!-- content area end -->

    <!-- footer start -->
    <div th:replace="footer"></div>
    <!-- footer end -->

    <script th:src="@{js/checkout.js}"></script>

    <script type="module">
      const { createApp, ref, onMounted, computed, watch } = Vue;
      createApp({
        setup() {
          //接收到的前一頁的參數
          const params = new URLSearchParams(window.location.search);
          const totalAmount = params.get("totalAmount");
          const finalAmount = params.get("finalAmount");
          const discountAmount = params.get("discountAmountToNext");
          const couponCode = params.get("couponCode");
          const percentageDiscount = params.get("percentageDiscountToNext");

          //自定義名稱
          const name = ref("");
          const img = ref(
            "https://plus.unsplash.com/premium_photo-1661322640130-f6a1e2c36653?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGV8ZW58MHx8MHx8fDA%3D"
          );
          const lastName = ref("");
          const firstName = ref("");
          const email = ref("");
          const phone = ref("");
          const city = ref("");
          const area = ref("");
          const postCode = 0;
          const address = ref("");
          const districts = ref({
          台北市: {
              中正區: "100",
              大同區: "103",
              中山區: "104",
              松山區: "105",
              大安區: "106",
              萬華區: "108",
              信義區: "110",
              士林區: "111",
              北投區: "112",
              內湖區: "114",
              南港區: "115",
              文山區: "116"
          },
          新北市: {
              板橋區: "220",
              三重區: "241",
              中和區: "235",
              永和區: "234",
              新莊區: "242",
              新店區: "231",
              樹林區: "238",
              鶯歌區: "239",
              三峽區: "237",
              淡水區: "251",
              瑞芳區: "228",
              土城區: "236",
              蘆洲區: "247",
              五股區: "248",
              泰山區: "243",
              林口區: "244",
              深坑區: "222",
              石碇區: "223",
              坪林區: "226",
              三芝區: "252",
              石門區: "253",
              八里區: "249",
              平溪區: "226",
              雙溪區: "227",
              貢寮區: "224",
              金山區: "207",
              萬里區: "208",
              烏來區: "233"
          },
          桃園市: {
              桃園區: "330",
              中壢區: "320",
              大溪區: "335",
              楊梅區: "326",
              蘆竹區: "338",
              大園區: "337",
              龜山區: "333",
              八德區: "334",
              龍潭區: "325",
              平鎮區: "324",
              新屋區: "327",
              觀音區: "328",
              復興區: "336"
          },
          台中市: {
              中區: "400",
              東區: "401",
              南區: "402",
              西區: "403",
              北區: "404",
              西屯區: "406",
              南屯區: "407",
              北屯區: "408",
              豐原區: "420",
              大里區: "412",
              太平區: "411",
              清水區: "436",
              沙鹿區: "433",
              大甲區: "437",
              東勢區: "423",
              梧棲區: "435",
              烏日區: "414",
              神岡區: "429",
              大肚區: "414",
              大雅區: "428",
              后里區: "421",
              霧峰區: "413",
              潭子區: "427",
              龍井區: "433",
              外埔區: "432",
              和平區: "421",
              石岡區: "422",
              大安區: "456",
              新社區: "426"
          },
          台南市: {
              中西區: "700",
              東區: "701",
              南區: "702",
              北區: "703",
              安平區: "708",
              安南區: "709",
              永康區: "710",
              歸仁區: "711",
              新化區: "712",
              新市區: "715",
              仁德區: "717",
              柳營區: "736",
              麻豆區: "732",
              佳里區: "730",
              善化區: "741",
              安定區: "724",
              西港區: "743",
              七股區: "754",
              將軍區: "759",
              學甲區: "725",
              北門區: "726",
              新營區: "737",
              後壁區: "738",
              白河區: "732",
              東山區: "733",
              六甲區: "734",
              下營區: "731",
              楠西區: "744",
              南化區: "745",
              山上區: "749",
              左鎮區: "741",
              玉井區: "740",
              龍崎區: "847",
              官田區: "721",
              大內區: "724"
          },
          高雄市: {
              楠梓區: "811",
              左營區: "813",
              鼓山區: "804",
              三民區: "807",
              鹽埕區: "803",
              前金區: "805",
              新興區: "800",
              苓雅區: "802",
              前鎮區: "806",
              小港區: "812",
              旗津區: "805",
              鳳山區: "830",
              大寮區: "831",
              鳥松區: "833",
              林園區: "832",
              仁武區: "842",
              大樹區: "840",
              大社區: "815",
              岡山區: "820",
              路竹區: "825",
              橋頭區: "826",
              梓官區: "830",
              彌陀區: "827",
              永安區: "840",
              燕巢區: "824",
              田寮區: "843",
              阿蓮區: "840",
              茄萣區: "842",
              湖內區: "843",
              旗山區: "842",
              美濃區: "843",
              內門區: "847",
              杉林區: "846",
              甲仙區: "846",
              六龜區: "844",
              茂林區: "843",
              桃源區: "845",
              那瑪夏區: "842"
          },
          基隆市: {
              仁愛區: "200",
              信義區: "201",
              中正區: "202",
              中山區: "203",
              安樂區: "204",
              暖暖區: "205",
              七堵區: "206"
          },
          新竹縣: {
              竹北市: "302",
              竹東鎮: "310",
              新埔鎮: "341",
              關西鎮: "348",
              湖口鄉: "335",
              新豐鄉: "336",
              芎林鄉: "308",
              橫山鄉: "310",
              北埔鄉: "314",
              寶山鄉: "308",
              峨眉鄉: "315",
              尖石鄉: "314",
              五峰鄉: "313"
          },
          新竹市: {
              東區: "300",
              北區: "300",
              香山區: "300"
          },
          苗栗縣: {
              苗栗市: "360",
              苑裡鎮: "366",
              通霄鎮: "357",
              竹南鎮: "350",
              頭份市: "351",
              後龍鎮: "362",
              卓蘭鎮: "366",
              大湖鄉: "369",
              公館鄉: "362",
              銅鑼鄉: "367",
              南庄鄉: "370",
              頭屋鄉: "371",
              三義鄉: "376",
              西湖鄉: "368",
              造橋鄉: "353",
              三灣鄉: "368",
              獅潭鄉: "370",
              泰安鄉: "372"
          },
          彰化縣: {
              彰化市: "500",
              鹿港鎮: "505",
              和美鎮: "508",
              線西鄉: "512",
              伸港鄉: "511",
              福興鄉: "520",
              秀水鄉: "511",
              花壇鄉: "503",
              芬園鄉: "540",
              大村鄉: "518",
              埔鹽鄉: "528",
              埔心鄉: "520",
              永靖鄉: "524",
              社頭鄉: "541",
              二水鄉: "520",
              北斗鎮: "521",
              二林鎮: "522",
              田中鎮: "528",
              田尾鄉: "525",
              埤頭鄉: "520",
              芳苑鄉: "543",
              大城鄉: "516",
              竹塘鄉: "525",
              溪州鄉: "514",
              溪湖鎮: "514",
              大溪鄉: "511"
          },
          南投縣: {
              南投市: "540",
              埔里鎮: "545",
              草屯鎮: "542",
              竹山鎮: "552",
              集集鎮: "552",
              名間鄉: "541",
              鹿谷鄉: "553",
              中寮鄉: "544",
              魚池鄉: "555",
              國姓鄉: "533",
              水里鄉: "532",
              信義鄉: "607",
              仁愛鄉: "546"
          },
          雲林縣: {
              斗六市: "640",
              斗南鎮: "631",
              虎尾鎮: "632",
              西螺鎮: "648",
              土庫鎮: "646",
              北港鎮: "651",
              古坑鄉: "646",
              大埤鄉: "641",
              莿桐鄉: "646",
              林內鄉: "645",
              二崙鄉: "643",
              崙背鄉: "643",
              麥寮鄉: "638",
              東勢鄉: "644",
              褒忠鄉: "634",
              台西鄉: "635",
              元長鄉: "635",
              四湖鄉: "635",
              口湖鄉: "636",
              水林鄉: "648"
          },
          嘉義縣: {
              太保市: "612",
              朴子市: "613",
              布袋鎮: "614",
              大林鎮: "615",
              民雄鄉: "621",
              溪口鄉: "622",
              新港鄉: "623",
              六腳鄉: "624",
              東石鄉: "625",
              義竹鄉: "626",
              鹿草鄉: "628",
              水上鄉: "631",
              中埔鄉: "631",
              竹崎鄉: "613",
              梅山鄉: "614",
              番路鄉: "616",
              大埔鄉: "622",
              阿里山鄉: "605"
          },
          嘉義市: {
              東區: "600",
              西區: "600"
          },
          屏東縣: {
              屏東市: "900",
              潮州鎮: "920",
              東港鎮: "928",
              恆春鎮: "946",
              萬丹鄉: "925",
              長治鄉: "926",
              麟洛鄉: "927",
              九如鄉: "925",
              里港鄉: "921",
              鹽埔鄉: "922",
              高樹鄉: "927",
              萬巒鄉: "930",
              內埔鄉: "922",
              竹田鄉: "928",
              新埤鄉: "935",
              枋寮鄉: "931",
              新園鄉: "932",
              崁頂鄉: "940",
              林邊鄉: "931",
              南州鄉: "930",
              佳冬鄉: "931",
              琉球鄉: "929",
              車城鄉: "946",
              滿州鄉: "947",
              枋山鄉: "928",
              三地門鄉: "928",
              霧台鄉: "928",
              瑪家鄉: "928",
              泰武鄉: "928",
              來義鄉: "928",
              春日鄉: "928",
              獅子鄉: "928",
              牡丹鄉: "928"
          },
          宜蘭縣: {
              宜蘭市: "260",
              羅東鎮: "265",
              蘇澳鎮: "270",
              頭城鎮: "261",
              礁溪鄉: "262",
              壯圍鄉: "263",
              員山鄉: "264",
              冬山鄉: "266",
              五結鄉: "267",
              三星鄉: "268",
              大同鄉: "269",
              南澳鄉: "272"
          },
          花蓮縣: {
              花蓮市: "970",
              鳳林鎮: "974",
              玉里鎮: "975",
              新城鄉: "973",
              吉安鄉: "972",
              壽豐鄉: "971",
              光復鄉: "976",
              豐濱鄉: "976",
              瑞穗鄉: "978",
              富里鄉: "982",
              秀林鄉: "973",
              萬榮鄉: "979",
              卓溪鄉: "978"
          },
          台東縣: {
              台東市: "950",
              成功鎮: "961",
              關山鎮: "956",
              卑南鄉: "961",
              鹿野鄉: "955",
              池上鄉: "956",
              東河鄉: "961",
              長濱鄉: "965",
              太麻里鄉: "963",
              大武鄉: "965",
              綠島鄉: "951",
              海端鄉: "954",
              延平鄉: "954",
              金峰鄉: "952",
              達仁鄉: "953",
              蘭嶼鄉: "952"
          },
          澎湖縣: {
              馬公市: "880",
              湖西鄉: "885",
              白沙鄉: "882",
              西嶼鄉: "884",
              望安鄉: "883",
              七美鄉: "885"
          },
          金門縣: {
              金門縣: "890"
          },
          連江縣: {
              南竿鄉: "880",
              北竿鄉: "881",
              莒光鄉: "882",
              東引鄉: "883"
          },
          });
          const api = ref("http://localhost:8080/api");
          const userId = ref(0); // 使用者 ID
          const products = ref([]); // 用來儲存產品的數組
          const selectedDistricts = ref([]);
          const zipCode = ref("");
          const cityName = ref("");
          const isSameInfo = ref(false); // 確保這個變量被定義
          const district = ref("");

          const totalAmount2 = computed(() => {
            return products.value.reduce(
              (total, product) => total + product.quantity * product.price,
              0
            );
          });

          const getUserId = async () => {
            const res = await axios.get(`/users/userAllInfo`);
            userId.value = res.data.userId;

            getCart();
          };

          //收件人資料與會員資料相同

          const populateUserInfo = async () => {
            try {
              const res = await axios.get(`/users/userAllInfo`);
              name.value = res.data.firstName; //ok
              lastName.value = res.data.lastName; //ok
              address.value = res.data.address; //ok
              phone.value = res.data.phoneNumber; //ok
              email.value = res.data.email; //ok
              zipCode.value = res.data.postalCode; //ok
              city.value = res.data.county; //ok
              area.value = res.data.district;
              // district.value = res.data.district;
              // area.value = res.data.district;
              // area.value = res.data.area;
              Vue.nextTick(() => {
                area.value = res.data.district;
              });
            } catch (error) {
              console.error("獲取用戶資訊時發生錯誤:", error);
            }
          };
          //取消勾選 收件人與會員資料相同
          const clearUserInfo = () => {
            name.value = "";
            lastName.value = "";
            address.value = "";
            zipCode.value = "";
            city.value = "";
            area.value = "";
            email.value = "";
            phone.value = "";
          };
       
          //定義一個錯誤訊息的物件來追蹤每個欄位是否有效
          const errors = ref({
            name: "",
            lastName: "",
            email: "",
            phone: "",
            city: "",
            area: "",
            zipCode: "",
            address: "",
          });

 
          //針對每個欄位進行驗證並更新錯誤訊息
          const validateForm = () => {
          if (!name.value) {
            alert("請輸入姓名");
            return false;
          }
          if (!lastName.value) {
            alert("請輸入姓氏");
            return false;
          }
          if (!email.value) {
            alert("請輸入電子郵件");
            return false;
          }
          if (!phone.value) {
            alert("請輸入電話號碼");
            return false;
          }
          if (!city.value) {
            alert("請選擇縣市");
            return false;
          }
          if (!area.value) {
            alert("請選擇區域");
            return false;
          }
          if (!zipCode.value) {
            alert("請輸入郵遞區號");
            return false;
          }
          if (!address.value) {
            alert("請輸入地址");
            return false;
          }
        
          return true; // 如果所有欄位都已填寫，返回 true
        };
          
          //要傳遞出去的參數
          const toCheckInfo = () => {
            if (!validateForm()) {
            return; // 停止提交，如果表單驗證不通過
            }
           // 通過驗證後才繼續提交表單
            const totalAmount = totalAmount2.value;
            const finalAmount2 = totalAmount + 160 - discountAmount - percentageDiscount;
            console.log(456);
            console.log(percentageDiscount);
            console.log(333);
            console.log(discountAmount);
            //name.value抓這頁的變數 :前的name2是傳出去的變數名稱
            const queryParams = new URLSearchParams({
              totalAmount,
              finalAmount2,
              name2: name.value, //收件人的名字
              lastName: lastName.value,
              email: email.value,
              city: city.value,
              area: area.value,
              zipCode: zipCode.value,
              address: address.value,
              phone: phone.value,
              discountAmount2: discountAmount,
              couponCode: couponCode,
              percentageDiscount: percentageDiscount,
            }).toString();

            window.location.href = `/checkInfo?${queryParams}`;
          };

          // 定義獲取購物車資料的函式
          const getCart = async () => {
            const res = await axios.get(`${api.value}/cart/${userId.value}`);
            products.value = res.data; // 將獲取的資料儲存到 products 中
          };

          onMounted(() => {
            getUserId(); // 在組件掛載後獲取資料
          });

          watch(city, () => {
            updateDistricts();
            updateZipCode();
          });

          watch(area, () => {
            updateZipCode();
          });

          watch(district, () => {
            updateZipCode();
          });

          const updateDistricts = () => {
            selectedDistricts.value = Object.keys(
              districts.value[city.value] || {}
            );
            area.value = ""; // 重置區域選擇
            zipCode.value = ""; // 重置郵遞區號
          };

          const updateZipCode = () => {
            zipCode.value = districts.value[city.value]?.[area.value] || "";
          };

          return {
            products, // 將 products 暴露給模板
            name,
            img,
            totalAmount,
            finalAmount,
            lastName,
            email,
            phone,
            city,
            area,
            postCode,
            address,
            districts,
            updateDistricts,
            selectedDistricts,
            zipCode,
            updateZipCode,
            cityName,
            toCheckInfo,

            isSameInfo,
            clearUserInfo,
            populateUserInfo,
            district,
            discountAmount,
            percentageDiscount,
            totalAmount2,

            
          };
        },
      }).mount("#myContainer"); // 將應用程式掛載到指定的 DOM 元素上
    </script>
  </body>
</html>
