<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>

    <link rel="stylesheet" th:href="@{css/couponPage.css}" />

</head>
<body>

<!-- 包含header部分 -->
<div th:replace="header"></div>

<div id="myContainer">
    <div class="couponPage">
        <p>優惠券</p>
        <!-- 優惠券內容將動態插入 -->
    </div>
</div>

<!-- 包含footer部分 -->
<div th:replace="footer"></div>
<script th:src="@{js/couponPage.js}" defer="defer"></script>
</body>
</html>
