<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
  </head>

  <body>
    <div th:replace="header"></div>

    <div id="myContainer">
      <!--  商品資訊 -->

      <div class="info">
        <!-- 左邊的圖片畫廊 -->
        <div class="product-gallery">
          <div class="main-image">
            <img id="currentImage" src="" alt="商品圖片" />
          </div>
          <div class="thumbnail-images" id="thumbnailContainer">
            <!-- 縮略圖 -->
          </div>
        </div>
        <div class="spec"></div>
      </div>

      <!-- tab -->
      <div class="tab">
        <button class="tablinks" id="tab1">商品描述</button>
        <button class="tablinks" id="tab2">購買方式</button>
      </div>

      <div class="tabcontent description" id="content1">
        <p>商品資訊</p>
      </div>

      <div class="tabcontent caption" id="content2" style="display: none">
        <h2>購買說明:</h2>
        <br />
        <h3>付款方式:</h3>
        <br />
        本網站使用<strong>綠界科技</strong>提供的線上刷卡支付服務，支持Visa、MasterCard、JCB等多種信用卡。支付流程簡單、安全，您可以放心選擇線上刷卡進行付款。
        <br /><br />
        <h2>退換貨政策:</h2>
        <br />
        我們致力於提供最好的產品和服務，若您在購買後遇到任何問題，請依照以下說明進行退換貨申請。
        <br /><br />
        <h3>退貨說明:</h3>
        <br />
        若您收到的商品與訂單不符，或在運送過程中發生損壞，請於 收到商品 3
        日內聯繫我們的客服進行退貨申請，並提供相關證明（如商品照片、訂單號碼等）。
        退貨商品需保持商品包裝完整、未使用且無損毀，退貨時需附上原始收據與包裝。
        <br /><br />
        <h3>換貨說明:</h3>
        <br />
        若收到商品有不符等問題，請於收到商品3日內提出換貨申請。我們將協助安排換貨，但換貨商品必須保持全新狀態，未使用且無損壞。
        換貨僅限於相同商品，不接受更換不同款式的商品。 <br /><br />
        <h3>瑕疵商品</h3>
        若商品存在瑕疵，請立即聯繫我們的客服，我們將免費為您更換瑕疵商品，或安排全額退款。
        <br /><br />
        <h3>食品類商品注意事項:</h3>
        <br />
        食品類商品因為涉及衛生安全與保存期限，除非商品存在瑕疵或配送錯誤，恕不接受退貨及換貨。
        收到食品時，請立即檢查商品包裝是否完整，如有任何破損或變質情況，請儘速聯繫客服處理。
        <br /><br />
        <h3>聯絡方式:</h3>
        <br />
        若您有任何疑問或需要進行退換貨申請，請聯繫我們的客服團隊，我們將竭誠為您服務。
      </div>

      <div class="related-product" id="related-product">
        <p class="title">| 相關商品</p>
        <div class="carousel">
          <button class="nav-button" id="prevBtn">❮</button>
          <div class="product-container" id="productContainer"></div>
          <button class="nav-button" id="nextBtn">❯</button>
        </div>
      </div>
    </div>

    <div th:replace="footer"></div>

    <script th:src="@{js/detail.js}"></script>
  </body>
</html>
