<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/template.css}"/>
    <!-- 引入 SweetAlert2 的 CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
</head>
<body>
<!-- menu start-->
<div id="sidenav" class="tem-overlay">
    <div class="tem-nav">
        <button class="tem-closebtn" onclick="closeSidenav()">
            <i class="fa-regular fa-circle-xmark"></i>
        </button>
    </div>
    <div class="tem-overlay-content">
        <a href="/enjoyum">首頁</a>
        <a href="/about">關於我們</a>
        <a href="/productList">全館商品</a>
        <a href="/recipe">線上食譜</a>
        <a href="/notice">常見問題</a>
        <a href="/registPage">註冊</a>
    </div>
    <div class="tem-end-photo">
        <img th:src="@{/material/cook.png}" alt=""/>
    </div>
</div>
<!-- menu end-->

<!-- header start -->
<header class="tem-header">
    <div class="tem-header-content">
        <div class="tem-header-icons">
            <div
                    class="tem-icon tem-menu-icon"
                    id="openSidenav"
                    onclick="openSidenav()"
            >
                <a href="#"
                ><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
        <div id="logoDiv" class="tem-logo">
            <img th:src="@{/material/logo.png}" alt="Logo" class=""/>
        </div>
        <div class="tem-header-icons">
            <div id="cartIcon" class="tem-icon tem-cart-icon">
                <a href="/shoppingCart" style="padding-right: 20px">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <div id="memberIcon" href="#" class="tem-icon tem-user-icon">
                <i class="fa-solid fa-user" style="padding-right: 20px"></i>
            </div>
            <div id="memberInfoDiv">
                <div>
                    <i class="memerinfo-icon fa-solid fa-user"></i
                    ><a href="/memberBasicInfoPage"
                >會員基本資料</a
                >
                </div>
                <div>
                    <i class="memerinfo-icon fa-solid fa-unlock"></i>
                    <a href="/updatePasswordPage">更改密碼</a>
                </div>
                <div>
                    <i class="memerinfo-icon fa-solid fa-heart"></i>
                    <a href="/myCollection">我的收藏</a>
                </div>
                <div>
                    <i class="memerinfo-icon fa-solid fa-bars"></i>
                    <a href="/myOrderList">訂單管理</a>
                </div>
                <div>
                    <i class="memerinfo-icon fa-solid fa-tag"></i>
                    <a href="/couponPage">優惠券</a>
                </div>
                <div>
                	<i class="memerinfo-icon fa-brands fa-facebook-messenger"></i>
                	<a style="margin-left:-8px;" href="/userChatPage">即食客服</a>
                </div>
                <div id="contactIcon">
					<i class="memerinfo-icon fa-solid fa-comment"></i>					
					<a style="margin-left:-8px;">聯絡我們</a>
				</div>
                <div id="loginDiv" style="display: none">
                    <i class="memerinfo-icon fa-solid fa-right-to-bracket"></i>
                    <a style="margin-left:-4px" href="/loginPage">登入</a>
                </div>
                <div id="logoutDiv" style="display: none">
                    <i class="memerinfo-icon fa-solid fa-right-from-bracket"></i>
                    <a id="logout" style="margin-left:-4px">登出</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tem-breadcrumb">
<!--        <a href="#">首頁</a>-->
    </div>
</header>

<!-- 聯絡我們 -->
 	<div id="contactDiv">
        <div id="contactContent">
        	<span id="close">&times;</span>
            <h1 style="text-align:center;">聯絡我們</h1>
            <div style="display:flex; flex:1 1 100%; justify-content:center;">
            	  <img style="width:80px; height:auto;" th:src="@{/material/orangehead.png}" alt=""/>
            </div>          
            <p style="text-align:center;">謝謝您的主動聯絡，請留下要諮詢的問題，我們會用以下資訊進行回覆。</p>      
            <p>姓名:</p>
            <input id="name" class="contactInput" type="text"><br>
            <p>聯絡方式:</p>
            <input id="contactInfo" class="contactInput" type="text" placeholder="電子信箱 或 手機號碼">
            <p>問題類型:</p>
            <select id="questionType">
            	<option value="請選擇問題類型">請選擇問題類型</option>
            	<option value="無法完成購買">無法完成購買</option>
            	<option value="看不到商品圖">看不到商品圖</option>
            	<option value="無法顯示網頁">無法顯示網頁</option>
            	<option value="商品文案有誤">商品文案有誤</option>
            	<option value="商品文案有誤">商品瑕疵,退/換貨</option>            	
            	<option value="其他問題">其他問題</option>
            </select><br>
            <p>諮詢內容:</p>
            <textarea id="message" name="message" placeholder="若為已購買商品相關問題,麻煩請填寫訂單編號"></textarea><br>

            <div style="display:flex; flex:1 1 100%; justify-content:center;">
            	<button id="contactBtn">送出</button>
			</div>
            
        </div>
    </div>
    
    <!-- 聊天室 -->
    <div id="webSocketIconDiv" >
        <img id="webSocketIcon" src="/material/icon/chatbot.png" style="height: 80px; width: 80px;" alt="WebSocket Icon">
	</div>

    <div id="chatWindow">
        <div id="chatWindowHeader">
            即食享熱小幫手
            <button id="closeButton">×</button>
            <div id="maximizeButton">□</div>
        </div>
        <div id="chatMessages"></div>
        <input type="text" id="chatInput" placeholder="輸入訊息...">
        <button id="sendButton">發 送</button>
    </div>

    <div id="adSlideContainer" class="ad-slide-container">
        <div id="adContainer" class="ad-container">
            <div class="ad-content">
                <a id="adLink" href="#" target="_blank">
                    <img id="adImage" src="" alt="AD" class="ad-image">
                </a>
                <button id="closeAdBtn" class="close-ad-btn">&times;</button>

            </div>
        </div>
    </div>

</body>
<script th:src="@{js/template.js}" defer="defer"></script>
</html>