<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>
    <link rel="stylesheet" th:href="@{css/loginPage.css}" />
    
</head>
<body>

<!-- 包含header部分 -->
<div th:replace="header"></div>

<div id="myContainer">

    <div class="login">
        <p class="loginTopP">會員登入</p>
        <div class="emailDiv">
            <p  style="text-align: left;">電子信箱</p><input id="emailInput" type="email" class="loginInput">
            <p class="noAccountP">查無此帳號</p>
        </div>
        <div>
            <p style="text-align: left;">密碼</p><input id="passwordInput" type="password" class="loginInput"><br>
            
            <a class="forgetPassword" href="">忘記密碼?</a>
            
        </div>
    
        
        <button class="loginButton">登入</button>
    
        <div class="divider">
            <span class="dividerText">或使用第三方帳號登入</span>
        </div>
    
        <div class="socialButtons">
            <div class="socialButton">
              <img th:src="@{./material/icon/facebookIcon.jpg}" alt="Facebook">
            </div>
            <div class="socialButton">
              <img th:src="@{./material/icon/googleIcon.png}" alt="Google">
            </div>
            <div class="socialButton">
              <img th:src="@{./material/icon/lineIcon.jpg}" alt="LINE">
            </div>
        </div>
    
    
        <p class="registP">還不是會員嗎?<a class="registA" href="http://localhost:8080/registPage">註冊會員</a></p>
    </div>

</div>

<!-- 包含footer部分 -->
<div th:replace="footer"></div>
	<script th:src="@{js/loginPage.js}" defer="defer"></script>	


</body>
</html>
