<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>
    
    <link rel="stylesheet" th:href="@{css/memberBasicInfoPage.css}" />
    
</head>
<body>

<!-- 包含header部分 -->
<div th:replace="header"></div>

<div id="myContainer">
	<div class="memberBasicInfo">
        <p style="font-size:xx-large; margin-bottom: 50px;">會員基本資料</p>
        <div>
            <p style="text-align: start; margin-bottom: 10px;">電子信箱</p>
            <input id="email" class="memberBasicInfoInput" type="email">
        </div>
    
        <div>
            <p style="text-align: start; margin-bottom: 10px;">密碼</p>
            <a class="memberBasicInfoA" href="http://localhost:8080/updatePasswordPage">更新密碼</a>
        </div>
        <div class="memberBasicInfoUserName">
          <p  style="text-align: left;">使用者名稱</p><input id="userName" class="memberBasicInfoInput">
        </div>
        <div class="memberBasicInfoName">
          <div class="memberBasicInfoLastName">
            <p style="text-align: left;">姓氏</p><input id="lastName" class="memberBasicInfoInput">
          </div>
          <div class="memberBasicInfoFirstName">
              <p  style="text-align: left;">名字</p><input id="firstName" class="memberBasicInfoInput">
          </div>
        </div>
    
        <div>
            <p style="text-align: start; margin-bottom: 10px;">生日</p>
            <input id="birthday" class="memberBasicInfoInput" type="date">
        </div>
    
        <div>
            <p style="text-align: start; margin-bottom: 10px;">電話</p>
            <input id="telephone" class="memberBasicInfoInput" type="tel">
        </div>
    
        <div  class="divOfSelect">
          <div>
            <label for="county">選擇縣/市：</label><br>
            <select id="county" name="county">
                <option>選擇縣/市</option>
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="台中市">台中市</option>
                <option value="台南市">台南市</option>
                <option value="高雄市">高雄市</option>
                <option value="基隆市">基隆市</option>
                <option value="新竹縣">新竹縣</option>
                <option value="新竹市">新竹市</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="南投縣">南投縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="嘉義市">嘉義市</option>
                <option value="屏東縣">屏東縣</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="台東縣">台東縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="金門縣">金門縣</option>
                <option value="連江縣">連江縣</option>
            </select>
          </div>
          <div style="margin-left: 23px;">
            <label for="district">選擇市/區/鄉/鎮：</label><br>
              <select id="district">
              <option value="">選擇市/區</option>
            </select>
          </div>
        </div>


        <div id="memberAddress">
          <p class="addressLabel" style="text-align: start; margin-bottom: 10px;"><span>郵遞區號</span><span class="alignRight">地址</span></p>
          <div class="addressContainer">
            <input id="zipCode" type="text" class="memberBasicInfoInput zipInput">
            <input id="address" class="memberBasicInfoInput addressInput" type="text">
          </div>
        </div>
        <button id="updateButton">更新資料</button>
        <button id="deleteButton">刪除帳號</button>

    </div>
</div>

<!-- 包含footer部分 -->
<div th:replace="footer"></div>

	<script th:src="@{js/memberBasicInfoPage.js}" defer="defer"></script>	


</body>
</html>
