<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>即食享熱</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
  </style>
  <link rel="stylesheet" th:href="@{/css/myCollection.css}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

<div th:replace="header"></div>


  <!-- 開始編輯 -->


  <div class="collection-container">
    <div class="collection-tabs">
      <button class="collection-tab-button active">我的商品</button>
      <button class="collection-tab-button">我的食譜</button>
    </div>

  </div>

  <div class="collection-content">
    <p>我收藏的商品</p>
  </div>
  <div id="productContainer"></div>



    <div th:replace="footer"></div>


<script th:src="@{/js/myCollection.js}"></script>


