<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>購買須知</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/notice.css}" />
  </head>
  <body>
    <div th:replace="header"></div>
    <div class="tem-breadcrumb">
        <a href="/">首頁</a> / <a href="/notice">常見問題</a>
    </div>
    <h1>常見問題</h1>

    <div class="container">
        <button class="accordion">Q:如何付款?</button>
        <div class="panel">
          <p>
            目前提供付款方式有: 綠界科技ECPAY -信用卡線上付款(VISA、Master、JCB、銀聯卡)<br><br>
            1.綠界科技使用SSL「全球安全認證網站」安全加密機制保護，您可安心使用。<br>
            2.目前有提供6期、12期分期付款的服務。<br>
            3.單筆消費不限金額，皆可享有貼心的線上刷卡服務。<br>
            </ol>
          </p>

        </div>

        <button class="accordion">Q:一定要加入會員才可以購買商品嗎?</button>
        <div class="panel">
          <p>
            是的，為了保障買賣雙方的權益，需要成為會員才能在 即食享熱上購買商品，即食享熱 會保障你所有購買的權益，
            此外，成為會員才能享有優惠券折抵的福利喔！
          </p>
        </div>

        <button class="accordion">Q:商品保存期限有多長?</button>
        <div class="panel">
          <p>
            生鮮冷藏商品，收到貨後敬請於3天內食用完畢。冷凍商品，保存期限約90天。(詳細日期請參照產品上標示）
          </p>
        </div>

        <button class="accordion">Q:收到貨後若覺得商品有瑕疵，該如何處理?</button>
        <div class="panel">
          <p>
            若因製作流程或運送途中導致的異常，請立即拍下照片或錄影，並於保存期限內，與我們聯絡處理退換貨事宜。
            <br><br>
            1.食材已變質腐敗<br>
            2.食材包內有異物或其它損壞<br>
            3.訂購商品與收貨內容不符（缺料、品項錯誤）<br>
          </p>

        </div>

        <button class="accordion">Q:若想更改出貨資訊，該如何處理?</button>
        <div class="panel">
            <p>
                更改出貨資訊因牽涉時效問題，您可透過以下方式與我們聯繫，將有專人處理相關事宜，若因作業問題而未能配合您的需求，敬請見諒。
                <br>
                您可透過:
                <br>
                即食享熱FB粉絲專頁私訊我們
                <br>
                客服專線：(04)2326-5860（服務時間：週一至週五09:00~16:30)
                <br>
                客服信箱：haurd8080@gmail.com
            </p>
        </div>

        <button class="accordion">Q:目前是否提供自取服務？</button>
        <div class="panel">
          <p>
            即食享熱無實體店面經營，目前仍以低溫物流配送為主，尚未開放自取方式。
          </p>
        </div>

        <button class="accordion">Q:運費如何計算？</button>
        <div class="panel">
            <p>目前僅提供黑貓宅急便-低溫宅配，每筆訂單皆須另支付160元運費。<br>
                ※目前僅限台灣本島配送，暫無開放外島配送。</p>
        </div>

        <button class="accordion">
            Q:素食者或對某些食物過敏，該如何挑選適合的商品?
        </button>
        <div class="panel">
            <p>
                您可初步參考商品頁面中的內容及過敏原資訊，若有其它疑慮，可透過FB粉絲專頁私訊向我們詢問。
            </p>
        </div>
    </div>


    <div th:replace="footer"></div>
    <script th:src="@{js/notice.js}"></script>
  </body>
</html>
