<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>訂單管理</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
  </style>
  <link rel="stylesheet" th:href="@{/css/orderManage.css}" />
</head>
<body>

<div th:replace="header"></div>


  <!-- 開始編輯 -->
  <main>
    <h1>訂單管理</h1>

    <div id="order-list" class="order-list">
      <!-- 訂單項目將由 JavaScript 動態生成 -->
    </div>
  </main>

    <div th:replace="footer"></div>

<script th:src="@{/js/ordermanage.js}"></script>
