<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{css/productList.css}"/>
</head>
<body>
<div th:replace="header"></div>
<div class="tem-breadcrumb">
    <a href="/">首頁</a> / <a href="/productList">全館商品</a>
</div>

<div id="myContainer">
    <!-- 中間區塊:側邊選單+商品區 -->
    <div class="mid">
        <!-- 側邊選單 -->
        <div class="list">
            <div class="list-title"><a href="/productList">所有商品</a></div>
            <div style="padding: 5px"></div>
            <button class="down-btn productType" data-type="preparedFood">調理包專區</button>
            <div class="down-container">
                <a class="links" href="#" data-type="preparedFood" data-category="5"
                >家常料理</a
                >
                <a class="links" href="#" data-type="preparedFood" data-category="3"
                >兒童友善</a
                >
                <a class="links" href="#" data-type="preparedFood" data-category="4"
                >銀髮友善</a
                >
                <a class="links" href="#" data-type="preparedFood" data-category="1"
                >異國料理</a
                >
                <a class="links" href="#" data-type="preparedFood" data-category="2"
                >多人料理</a
                >
            </div>
            <button class="down-btn productType" data-type="mealkit">
                生鮮食材包專區
            </button>
            <div class="down-container">
                <a class="links" href="#" data-type="mealkit" data-category="5"
                >家常料理</a
                >
                <a class="links" href="#" data-type="mealkit" data-category="3"
                >兒童友善</a
                >
                <a class="links" href="#" data-type="mealkit" data-category="4"
                >銀髮友善</a
                >
                <a class="links" href="#" data-type="mealkit" data-category="1"
                >異國料理</a
                >
                <a class="links" href="#" data-type="mealkit" data-category="2"
                >多人料理</a
                >
            </div>
        </div>

        <!-- 商品區 -->
        <div class="product-zone">
            <div>
                <div class="title" id="title">所有商品</div>
                <div class="sortAndSearch">
                    <div class="searchContainer">
                        <div id="searchDiv">
                            <input type="search" id="searchInput" placeholder="搜尋商品..."/>
                            <i class="fa-solid fa-magnifying-glass searchIcon" id="searchIcon"></i>
                        </div>
                    </div>
                    <div class="sort">
                        <label for="sort">
                            <select name="sort" id="sort" style="height: 40px;border: none">
                                <option value="priceLowHigh">預設排序</option>
                                <option value="priceLowHigh">價格從低到高</option>
                                <option value="priceHighLow">價格從高到低</option>
                                <option value="dateNewOld">最新上架</option>
                                <option value="dateOldNew">最早上架</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div id="productContainer"></div>
            <!--分頁-->
            <div class="pagination" style="margin-top: 30px">
                <button id="prevPage"><i class="fa-solid fa-circle-chevron-left"></i></button>
                <span id="pageInfo"></span>
                <button id="nextPage"><i class="fa-solid fa-circle-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer"></div>
<script th:src="@{js/productList.js}"></script>
</body>
</html>
