<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>線上食譜</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
  </style>
  <link rel="stylesheet" th:href="@{css/recipe.css}" />
</head>

<body>
  <div th:replace="header"></div>
  <div class="tem-breadcrumb">
    <a href="/">首頁</a> / <a href="/recipe">線上食譜</a>
  </div>

  <div id="myContainer">
    <!-- 中間區塊:側邊選單+商品區 -->
    <div class="mid">
      <!-- 側邊選單 -->
      <div class="list">
        <div class="list-title"><a href="/recipe">所有食譜</a></div>
        <div style="padding: 5px"></div>
        <div class="down-container">
          <a class="links" href="#" data-category="5">家常料理</a>
          <a class="links" href="#" data-category="3">兒童友善</a>
          <a class="links" href="#" data-category="4">銀髮友善</a>
          <a class="links" href="#" data-category="1">異國料理</a>
          <a class="links" href="#" data-category="2">多人料理</a>
        </div>
      </div>
      <!-- 商品區 -->
      <div class="recipeZone">
        <div>
          <div class="title" id="title">所有食譜</div>
          <div class="sortAndSearch">
            <div class="searchContainer">
              <div id="searchDiv">
                <input type="search" id="searchInput" placeholder="搜尋食譜...">
                <i class="fa-solid fa-magnifying-glass searchIcon" id="searchIcon"></i>
              </div>
            </div>

            <div class="sort">
              <label for="sort">
                <select name="sort" id="sort" style="height: 40px;border: none">
                  <option value="levelAsc">預設排序</option>
                  <option value="levelAsc">烹飪難易度:由難至易</option>
                  <option value="levelDesc">烹飪難易度:由易至難</option>
                  <option value="cookTimeASC">烹飪時長:由長至短</option>
                  <option value="cookTimeDesc">烹飪時長:由短至長</option>
                </select>
              </label>
            </div>
          </div>

          <div id="rcontainer">
            <!-- 食譜卡片將在這裡動態生成 -->

          </div>

          <div class="pagination">
            <button id="prevPage">上一頁</button>
            <span id="pageInfo"></span>
            <button id="nextPage">下一頁</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="footer"></div>

  <script th:src="@{js/recipe.js}"></script>
</body>

</html>