<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" th:href="@{css/recipe.css}" />

    <!-- vue -->
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div th:replace="header"></div>
    <!-- 開始編輯 -->
    <div id="myContainer">
      <!-- 中間區塊:側邊選單+食譜區 -->
      <div class="mid">
        <!-- 側邊選單 -->
        <div class="list">
          <button class="down-btn" data-type="all">
            線上食譜<img
              src="./material/icon/down.png"
              alt="down"
              id="updown4"
            />
          </button>

          <div class="down-container">
            <a href="#" data-type="home" onclick="filterRecipes('home')"
              >家常料理</a
            >
            <a href="#" data-type="kids" onclick="filterRecipes('kids')"
              >兒童友善</a
            >
            <a href="#" data-type="elderly" onclick="filterRecipes('elderly')"
              >銀髮友善</a
            >
            <a
              href="#"
              data-type="international"
              onclick="filterRecipes('international')"
              >異國料理</a
            >
            <a href="#" data-type="group" onclick="filterRecipes('group')"
              >多人料理</a
            >
          </div>
          <div style="height: 250px"></div>
          <!--先撐開空間不然footer會跑版-->
        </div>

        <!--食譜區-->
        <div class="recipeZone">
          <!--  排序方式-->
          <div class="sort">
            <label for="sort"
              >排序方式:
              <select name="sort" id="sort" @change="sortRecipes">
                <option value="" disabled selected>請選擇</option>
                <option value="easyToHard">烹飪難易度:由易至難</option>
                <option value="hardToEasy">烹飪難易度:由難至易</option>
                <!--                <option value="dateNewOld">上架時間：由新至舊</option>-->
                <!--                <option value="dateOldNew">上架時間：由舊至新</option>-->
                <!--          <option value="dateNewOld">價格：由低至高</option>-->
                <!--          <option value="dateOldNew">價格：由高至低</option>-->
              </select>
            </label>
          </div>

          <!-- 食譜卡顯示區 -->
          <div id="rcontainer">
            <div class="recipe-card" v-for="(recipe, i) in recipes" :index="i">
<!--              <img-->
<!--                class="recipe-image"-->
<!--                src="{{productImg.image}}"-->
<!--                alt="{{productImg.image}}"-->
<!--              />-->
              <h3>{{recipe.title}}</h3>
              <p class="recipeLevel">難易度: {{recipe.level}}</p>
              <div class="home-product-btn">
                <button class="add-to-favorite">
                  <i class="fa-solid fa-heart"></i>
                </button>
                <button class="readRecipeBtn">
                  <i class="fa-solid fa-book-open"></i
                  >&nbsp;&nbsp;&nbsp;閱讀食譜
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="footer"></div>

    <script th:src="@{js/recipe.js}"></script>

    <script type="module">
      const { createApp, ref, onMounted } = Vue;

      createApp({
        setup() {
          const dataFromDb = ref(null); // 存儲從資料庫獲取的資料
          const error = ref(null); // 存儲錯誤訊息
          const api = ref("http://localhost:8080/api");

          //自定義名稱 傳到前端畫面上
          const title = ref("");
          const level = ref("");
          const recipes = ref({});
          const img = ref(
            "https://plus.unsplash.com/premium_photo-1661322640130-f6a1e2c36653?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGV8ZW58MHx8MHx8fDA%3D"
          );
          const difficultyMap = {
            簡易: 1,
            中等: 2,
            困難: 3,
          };

          const getRecipes = async () => {
            const res = await axios.get(`${api.value}/recipes/all`);
            recipes.value = res.data;
            console.log(recipes.value);
          };

          onMounted(() => {
            getRecipes();
          });

          const sortRecipesEasyToHard = () => {
            recipes.value.sort((a, b) => {
              return difficultyMap[a.level] - difficultyMap[b.level];
            });
          };

          const sortRecipesHardToEasy = () => {
            recipes.value.sort((a, b) => {
              return difficultyMap[b.level] - difficultyMap[a.level];
            });
          };

          const sortRecipes = () => {
            const sortValue = document.getElementById("sort").value;
            if (sortValue === "easyToHard") {
              sortRecipesEasyToHard();
            } else if (sortValue === "hardToEasy") {
              sortRecipesHardToEasy();
            }
          };

          return {
            dataFromDb,
            error,
            getRecipes,
            recipes,
            sortRecipes,
          };
        },
      }).mount("#myContainer");
    </script>
  </body>
</html>
