<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Client 1</title>
</head>
<body>


<textarea id="chatBox" rows="10" cols="30"></textarea><br>
<input type="text" id="message"><button onclick="sendMessage()">Send</button>

<script>
    const socket = new WebSocket('ws://localhost:8080/ws/chat');
    socket.onmessage = function(event) {
        // 顯示消息
        const chatBox = document.getElementById('chatBox');
        chatBox.value += event.data + '\n';
    };

    function sendMessage() {
        const message = document.getElementById('message').value;
        socket.send(JSON.stringify({recipientId: 'admin', message: message}));
        document.getElementById('message').value = '';
    }
</script>



</body>
</html>
