<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" href="css/shoppingCart.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div th:replace="header"></div>
    <!-- 開始編輯 -->
    <div id="myContainer">
      <div class="container" v-if="products.length != 0">
        <!-- 返回購物車的連結 -->
        <button
          type="button"
          class="gobackButton"
          onclick="window.location.href='productList';"
        >
          &lt;返回購物
        </button>

        <h1 class="title">你的購物車</h1>
        <table>
          <thead>
            <tr>
              <th>商品</th>
              <th></th>
              <th>價格</th>
              <th>數量</th>
              <th>庫存</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="cartItems" v-for="(product, i) in products" :index="i">
            <td>
              <img :src="product.image" alt="圖片" class="product-image" />
            </td>

            <td>{{product.name}}</td>
            <td>NT ${{product.price}}</td>
            <!--單價-->

            <td>
              <!--調整商品數量 -數量+ -->
              <div class="quantity">
                <button class="decrease" @click="decrease(product)">–</button>

                <input
                  type="number"
                  class="amount"
                  v-model.number="product.quantity"
                  @input="updateQuantity(product)"
                  @blur="product.quantity = Math.max(product.quantity, 1)"
                  min="1"
                />

                <button class="increase" @click="add(product)">+</button>
              </div>
              <td style="color:darkgray;">{{product.stockQuantity}}</td>
            </td>
            <!--各項商品小計-->
            <td class="subtotal">NT ${{product.quantity * product.price}}</td>

            <td>
              <!--刪除單項商品-->
              <button @click="deleteProduct(product)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tbody>
        </table>

        <!--商品總額-->
        <div class="total">商品總額：NT $ {{totalAmount2}}</div>

        <!--使用優惠券折抵的金額-->
        <!--預設為零，有輸入合法的優惠券才呈現折抵數字，否則為0-->
        <div style="font-size: 18px; font-weight: bold; color: #d35b50">
          優惠券折抵：NT $ {{discountAmountToNext != 0 ? discountAmountToNext :
          percentageDiscountToNext != 0 ? percentageDiscountToNext : 0}}
          <!--優惠券生效後用參數代入否則為0-->
        </div>

        <!--優惠碼-->
        <div class="coupon-container">
          <input type="text" placeholder="輸入優惠序號" v-model="couponCode" />
          <button class="useCouponBtn" @click="applyCoupon">使用優惠券</button>
        </div>

        <div class="actions">
          <p>{{ message }}</p>
        </div>

        <div class="actions">
          <button class="submitButton" @click="toCheckout()">提交訂單</button>
        </div>
      </div>

      <!-- 只有在購物車內無商品的情況下顯示這段 -->
      <div
        v-else
        style="
          margin-bottom: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <h2 style="margin-top: 270px; font-size: 24px">
          目前購物車內無商品，歡迎選購！
        </h2>
        <div style="display: flex; justify-content: center; margin-top: 50px">
          <button
            class="productBtn"
            onclick="window.location.href='productList';"
          >
            前往選購商品
          </button>
          <button class="recipeBtn" onclick="window.location.href='recipe';">
            前往線上食譜
          </button>
          <div style="height:250px"></div>
        </div>
      </div>
    </div>

    <div th:replace="footer"></div>

    <!--<script src="./shoppingCart.js"></script>-->
    <script type="module">
      const { createApp, ref, onMounted, computed, watch } = Vue;

      createApp({
        setup() {
          const api = ref("/api");
          const userId = ref(0); // 使用者 ID
          const products = ref([]); // 用來儲存產品的數組

          const couponCode = ref(""); // 用於儲存輸入的優惠券代碼
          const discountAmountToNext = ref(0); // 用於儲存折扣金额，預設為0
          const message = ref(""); //用於儲存應用優惠券的訊息
          const percentageDiscountToNext = ref(0);
          const discountType = ref("");

          const cartId = ref(0); //cartID

          //計算總價 數量*單價
          const totalAmount2 = computed(() => {
            return products.value.reduce(
              (total, product) => total + product.quantity * product.price,
              0
            );
          });

          //透過監聽商品總額的變化 滾動式調整折扣金額
          // 監聽 totalAmount2 的變化
          watch(totalAmount2, (newTotal) => {
            if (couponCode.value) {
              // 重新計算折扣金額
              calculateDiscount(newTotal);
            }
          });

          const calculateDiscount = async (total) => {
          // 如果優惠券代碼為空，直接返回，不做計算
            if (!couponCode.value) {
                discountAmountToNext.value = 0; // 確保折扣為 0
                return; // 退出函式
            }
            // 如果已經有優惠券，重新獲取折扣金額
            try {
              const response = await axios.post(
                `${api.value}/coupons/apply-coupon`,
                null,
                {
                  params: {
                    cartId: cartId.value,
                    couponCode: couponCode.value,
                  },
                }
              );
              const { percentageDiscount, amountDiscount } = response.data;
              if (percentageDiscount != 0) {
                percentageDiscountToNext.value = percentageDiscount;
              } else if (amountDiscount != 0) {
                discountAmountToNext.value = amountDiscount;
              }
              message.value = "已成功套用優惠券";
            } catch (error) {
              console.error(
                "Error applying coupon:",
                error.response ? error.response.data : error
              );
              message.value = error.response
                ? error.response.data.message
                : "發生錯誤";
              discountAmountToNext.value = 0; // 無效的優惠碼時，折扣金額為 0
            }
          };

          //套用優惠碼
          const applyCoupon = async () => {
            console.log("進入套用優惠券");

            // 在套用新優惠券前，重置折扣狀態
            percentageDiscountToNext.value = 0;
            discountAmountToNext.value = 0;

            console.log(cartId.value);
            try {
              const response = await axios.post(
                `${api.value}/coupons/apply-coupon`,
                null,
                {
                  params: {
                    cartId: cartId.value,
                    couponCode: couponCode.value,
                  },
                }
              );

              const { percentageDiscount, amountDiscount } = response.data;

              if (percentageDiscount != 0) {
                percentageDiscountToNext.value = percentageDiscount;
              } else if (amountDiscount != 0) {
                discountAmountToNext.value = amountDiscount;
              }
              message.value = "已成功套用優惠券"; // 成功訊息

              console.log("Coupon applied successfully:", response.data);
            } catch (error) {
              console.error(
                "Error applying coupon:",
                error.response ? error.response.data : error
              );
              message.value = error.response
                ? error.response.data.message
                : "發生錯誤"; // 錯誤訊息
              discountAmountToNext.value = 0; // 無效的優惠碼時，折扣金額為 0
            }
          };

          const totalAfterDiscount = computed(() => {
            return finalAmount2 - discountAmountToNext.value;
          });

          //取得userId
          const getUserId = async () => {
            const res = await axios.get(`/users/userAllInfo`);
            userId.value = res.data.userId;
            console.log(userId.value);
            getCart();
            getCartId();
          };

          //取得cartId
          const getCartId = async () => {
            const res = await axios.get(
              `${api.value}/cart/getCartId/${userId.value}`
            );
            cartId.value = res.data.cartId;
            console.log(cartId.value);
          };

          //驗證是否已登入
          const checkLoginStatus = () => {
            return axios
              .get("users/checkSession")
              .then((response) => response.data) // 獲取響應數據
              .catch((error) => {
                console.error("檢查登入狀態時發生錯誤", error);
                return false; // 返回 false 表示發生錯誤
              });
          };

          const showLoginPrompt = () => {
            Swal.fire({
              title: "未登入",
              text: "請先登入才能查看購物車",
              icon: "warning",
              showCancelButton: true,
              confirmButtonText: "登入",
              cancelButtonText: "取消",
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = "/loginPage"; // 確認後跳轉至登入頁
              } else {
                window.location.href = "/enjoyum";
              }
            });
          };

          // 定義獲取購物車資料的函式
          const getCart = async () => {
            const res = await axios.get(`${api.value}/cart/${userId.value}`);
            products.value = res.data.map(product => {
            // 確保產品的數量不會超過庫存
            if (product.quantity > product.stockQuantity) {
              product.quantity = product.stockQuantity;
           }
            return product;
          });
          console.log(products.value);
        };

          // 更新產品數量 直接輸入數字
          const updateQuantity = async (product) => {
           // 將輸入的值限制為至少 1
          if (product.quantity < 1) {
            product.quantity = 1;
            Swal.fire({
            title: "數量必須至少為 1",
            icon: "warning",
          });
          } else if (product.quantity > product.stockQuantity) { // 檢查是否超過庫存
            Swal.fire({
              title: "選購數量超過庫存",
              text: `目前庫存僅剩 ${product.stockQuantity} 件，請調整選購數量！`,
              icon: "warning",
            });
            product.quantity = product.stockQuantity; // 將數量重置為庫存量
          }
            // 發送更新請求
            await axios.put(`${api.value}/cart/put/${userId.value}`, {
              productName: product.name,
              quantity: product.quantity,
            });

            getCart(); // 更新購物車資料
            if (product.quantity > 0) {
            calculateDiscount(totalAmount2.value); // 更新折扣金額 在此處調用折扣計算
            }
          };

          // 增加產品數量
          const add = async (product) => {
            if (product.quantity < product.stockQuantity) { // 檢查是否可以增加
              await axios.put(`${api.value}/cart/put/${userId.value}`, {
                productName: product.name,
                quantity: product.quantity + 1,
              });
              getCart(); // 更新購物車資料
            } else {
              Swal.fire({
                title: "無法增加",
                text: `庫存僅剩 ${product.stockQuantity} 件，無法再增加！`,
                icon: "warning",
              });
            }
          };
          // 減少產品數量
          const decrease = async (product) => {
            if (product.quantity == 1) {
              const result = await Swal.fire({
                title: "您確定要刪除這個商品嗎？",
                text: `${product.name}`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "確定",
                cancelButtonText: "取消",
              });
              // 如果使用者按下確定
              if (result.isConfirmed) {
                await axios.delete(
                  `${api.value}/cart/delete/${userId.value}/${product.name}`
                );
                getCart(); // 更新購物車資料
                Swal.fire({
                  title: "已刪除!",
                  text: `【${product.name}】已從購物車中刪除。`,
                  icon: "success",
                  timer: 1500,
                  showConfirmButton: false,
                });
              }
            } else {
              // 減少產品數量
              await axios.put(`${api.value}/cart/put/${userId.value}`, {
                productName: product.name, // 傳送產品名稱
                quantity: product.quantity - 1, // 減少產品數量
              });
              getCart(); // 更新購物車資料
            }
          };

          //刪除單一品項商品
          const deleteProduct = async (product) => {
            const result = await Swal.fire({
              title: "您確定要刪除這個商品嗎？",
              text: `${product.name}`,
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#d33",
              cancelButtonColor: "#3085d6",
              confirmButtonText: "確定",
              cancelButtonText: "取消",
            });

            // 如果使用者按下確定
            if (result.isConfirmed) {
              await axios.delete(
                `${api.value}/cart/delete/${userId.value}/${product.name}`
              );
              getCart(); // 更新購物車資料
              // 顯示已刪除的提示框，自動在2秒後關閉
              Swal.fire({
                title: "已刪除!",
                text: `【${product.name}】 已從購物車中刪除。`,
                icon: "success",
                timer: 1500, // 1500毫秒後自動關閉
                showConfirmButton: false, // 不顯示確認按鈕
              });
            }
          };
          //前往Checkout頁
          const toCheckout = () => {
            const totalAmount = products.value.reduce(
              (total, product) => total + product.quantity * product.price,
              0
            );

            const finalAmount = totalAmount + 160;

            const queryParams = new URLSearchParams({
              totalAmount: totalAmount,
              finalAmount: finalAmount,
              discountAmountToNext: discountAmountToNext.value,
              couponCode: couponCode.value,
              percentageDiscountToNext: percentageDiscountToNext.value,
              discountType: discountType.value,
            }).toString();

            // 跳轉到 checkout 頁面，並帶上參數
            window.location.href = `/checkout?${queryParams}`;
          };

          onMounted(async () => {
            const loggedIn = await checkLoginStatus(); // 檢查登入狀態
            if (!loggedIn) {
              // 如果未登入
              showLoginPrompt(); // 顯示登入提示
            } else {
              await getUserId(); // 如果已登入，獲取用戶信息
            }
          });

          return {
            products, // 將 products 暴露給模板
            add,
            decrease,
            toCheckout,
            deleteProduct,
            totalAmount2,
            discountAmountToNext,
            applyCoupon,
            couponCode,
            message,
            percentageDiscountToNext,
            discountType,
            updateQuantity,
          };
        },
      }).mount("#myContainer"); // 將應用程式掛載到指定的 DOM 元素上
    </script>
  </body>
</html>
