<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>即食享熱</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" href="css/shoppingCart.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
<div th:replace="header"></div>
<!-- 開始編輯 -->
<div id="myContainer">
    <div class="container">
        <!-- 返回購物車的連結 -->
        <button
                type="button"
                class="gobackButton"
                onclick="window.location.href='productList.html';"
        >
            &lt;返回購物
        </button>

        <h1 class="title">你的購物車</h1>
        <table>
            <thead>
            <tr>
                <th>商品</th>
                <th></th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="cartItems" v-for="(product, i) in products" :index="i">
            <td>
                <img src="" alt="圖片" class="product-image" />
            </td>

            <td>{{product.name}}</td>
            <td>NT ${{product.price}}</td>
            <!--單價-->

            <td>
                <!--調整商品數量 -數量+ -->
                <div class="quantity">
                    <button class="decrease" @click="decrease(product)">–</button>
                    <span class="amount">{{product.quantity}}</span>
                    <button class="increase" @click="add(product)">+</button>
                </div>
            </td>
            <!--各項商品小計-->
            <td class="subtotal">NT ${{product.quantity * product.price}}</td>

            <td>
                <!--刪除單項商品-->
                <button @click="deleteProduct(product)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
            </tbody>
        </table>

        <!--商品總額-->
        <div class="total">商品總額：NT $ {{totalAmount2}}</div>

        <!--使用優惠券折抵的金額-->
        <!--預設為零，有輸入合法的優惠券才呈現折抵數字，否則為0-->
        <div style="font-size: 18px; font-weight: bold; color: #d35b50">
            優惠券折抵：NT $ {{"還沒寫"}}
        </div>

        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

        <!--優惠碼-->
        <div class="coupon-container">
            <input type="text" placeholder="輸入優惠序號" />
            <button class="useCouponBtn">使用優惠券</button>
        </div>

        <div class="actions">
            <button class="submitButton" @click="toCheckout()">提交訂單</button>
        </div>
    </div>
</div>

<div th:replace="footer"></div>

<!--<script src="./shoppingCart.js"></script>-->
<script type="module">

    const { createApp, ref, onMounted, computed } = Vue;
    createApp({
      setup() {
        const api = ref("http://localhost:8080/api");
        const userId = ref(2); // 使用者 ID，這裡假設為 2
        const products = ref([]); // 用來儲存產品的數組
        const totalAmount2 = computed(() => {
          return products.value.reduce(
            (total, product) => total + product.quantity * product.price,
            0
          );
        });
        // 定義獲取資料的函式
        const getCart = async () => {
          const res = await axios.get(`${api.value}/cart/${userId.value}`);
          products.value = res.data; // 將獲取的資料儲存到 products 中
          console.log(products.value);
        };
        // 增加產品數量
        const add = async (product) => {
          console.log(product.name); // 輸出要增加的產品名稱
          await axios.put(`${api.value}/cart/put/${userId.value}`, {
            productName: product.name, // 傳送產品名稱
            quantity: product.quantity + 1, // 增加產品數量
          });
          getCart(); // 更新購物車資料
        };

        // 減少產品數量
        const decrease = async (product) => {
          console.log(product.name); // 輸出要減少的產品名稱
          // 檢查數量以確保不會減少到0以下

          await axios.put(`${api.value}/cart/put/${userId.value}`, {
            productName: product.name, // 傳送產品名稱
            quantity: product.quantity - 1, // 減少產品數量
          });
          getCart(); // 更新購物車資料
        };

        //刪除單一品項商品
        const deleteProduct = async (product) => {
          await axios.delete(
            `${api.value}/cart/delete/${userId.value}/${product.name}`
          );
          getCart(); // 更新購物車資料
        };

        //還有 折扣碼 沒寫!!!!!!!!!!!!!!

        const toCheckout = () => {


          const totalAmount = products.value.reduce(
            (total, product) => total + product.quantity * product.price,
            0
          );

          //缺少優惠券
          const finalAmount = totalAmount + 120;
          const queryParams = new URLSearchParams({
            totalAmount: totalAmount,
            finalAmount: finalAmount,
          }).toString();

          // 跳轉到 checkout 頁面，並帶上參數
          window.location.href = `/checkout?${queryParams}`;
        };

        onMounted(() => {
          getCart(); // 在組件掛載後獲取資料
        });

        return {
          products, // 將 products 暴露給模板
          add, // 將 add 函式暴露給模板
          decrease,
          toCheckout,
          deleteProduct,
          totalAmount2,
        };
      },
    }).mount("#myContainer"); // 將應用程式掛載到指定的 DOM 元素上
</script>
</body>
</html>
