<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>即食享熱</title>
    
    <link rel="stylesheet" th:href="@{css/updatePasswordPage.css}" />
</head>
<body>

<!-- 包含header部分 -->
<div th:replace="header"></div>

<div id="myContainer">

    <div class="updatePassword">
      <p style="font-size: xx-large;" class="updatePasswordTopP" >更改密碼</p>
      <div>
          <p style="text-align: left; margin-bottom: 10px;">目前密碼</p><input id="oldPassword" class="updatePasswordInput" type="password">
      </div>
      <div>
          <p style="text-align: left; margin-bottom: 10px;">新密碼</p><input id="newPassword" class="updatePasswordInput" type="password" placeholder="必須有包含數字、英文字母大小寫，最低長度為8">
          <p id="passwordRegexCheck">必須有包含數字、英文字母大小寫，最低長度為8</p>
      </div>
      <div>
          <p style="text-align: left; margin-bottom: 10px;">確認新密碼</p><input id="checkNewPassword" class="updatePasswordInput" type="password">
          <p id="newPasswordDifferent">與新密碼不相符</p>
        </div>
      
      <button id="updatePasswordButton" class="updatePasswordButton">更改密碼</button>
    </div>


</div>

<!-- 包含footer部分 -->
<div th:replace="footer"></div>

<script th:src="@{js/updatePasswordPage.js}" defer="defer"></script>

</body>
</html>
