
/* 中間區塊(商品分類側邊欄位和商品卡) */
.mid {
  display: flex;
  flex: 1;
}
/* 商品分類菜單(五大項) */
.list,
.list-title {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  font-weight: 600;
}

.list a,
.list-title,
.down-btn {
  padding: 6px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.down-btn {
  background-color: #cbb68c;
}

.list-title {
  background-color: #faf4e8;
}

.down-container > a:hover {
  background-color: #ece2b3;
}
.down-container > a:active {
  background-color: #ece2b3;
}

/* 商品區 */
.title{  /*商品分類類型標題*/
  font-size: 30px;
  /*background-color: #cc4235;*/
  padding: 12px 8px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.sortAndSearch {
  display: flex;
  justify-content: space-between;  /* 搜尋框和排序按鈕靠兩邊對齊 */
  align-items: center;  /* 垂直置中 */
  /*background-color: #3c4f6d;*/
  padding: 6px 0;
  font-size: 20px;
  margin-bottom: 20px;
  height: 40px;
}

.searchContainer {
  display: flex;  /* 确保搜索输入框和图标在同一行 */
  align-items: center;  /* 垂直居中 */
}

#searchDiv {
  overflow: hidden;
  display: flex;  /* 確保搜尋框和搜尋按鈕垂直置中 */
  align-items: center; /* 確保搜尋框和搜尋按鈕垂直置中 */
}

#searchInput {
  height: 40px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
}

.sort {
  display: flex; /* 確保排序按鈕垂直置中 */
  align-items: center; /* 確保排序按鈕垂直置中 */
  /*background-color: #cc4235;*/
  height: 40px;
  border: black 1px solid;
}

.searchIcon{
  cursor: pointer;
  margin-left: 10px;
}

.product-zone { /*商品標題+搜尋欄排序按鈕+商品卡*/
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 20px 40px;
}

#productContainer { /*所有商品卡*/
  /*background-color: #45a049;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.product { /*商品卡*/
  width: 270px;
  text-align: center;
  border: #f4f4f4 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.product:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-image {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name,
.product-price,
.home-product-btn { /*home-product-btn是收藏按鈕和加入購物車按鈕*/
  margin: 10px 0;
  font-size: medium;
}

.product-price {
  font-size: 20px;
  color: #d35b50;
  font-weight: 700;
}

.fa-heart {
  font-size: 25px;
  align-items: center;
}

.add-to-cart {
  background-color: #e0912f;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 60%;
}

.home-product-btn { /*按鈕的家*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-to-favorite {
  margin-top: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #787575;
  cursor: pointer;
}

.add-to-favorite.favorited {
  color: #cc4235; /* 收藏後的顏色 */
}

.add-to-cart:hover,
.add-to-cart:active {
  background-color: #de8415;
}

.pagination{
  text-align: center;
}

#prevPage,
#nextPage{
  border: none;
  background-color:#ece2b3 ;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}

i.active {
  color: red;
}



@media (min-width: 1600px) and (max-width: 3840px) {

  .product-image{
    height: 40vh;
  }

  #productName{
    font-size: 25px;
  }

}